{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

<table align="center" class="table">
    <tbody>
        <tr>
            <th class="intitule"><label for="statut_nom" class="required">Nom</label></th>
            <td >{{ form_widget(form.nom) }}{{ form_errors(form.nom) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="statut_description" class="required">Description</label></th>
            <td >{{ form_widget(form.description) }}</td>
        </tr>
  </tbody>
</table>

<h1 class="h4 mb-0 text-gray-800">Liste des étudiants à ajouter au statut</h1> <br>

    <table class="table" id="etud">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Mail</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for etudiant in form.lesEtudiants %}
      {# store index of the category in a variable #}
      {% set index = etudiant.vars.value %}

      {# get entity object from its index in the Categories Field #}
      {% set entity = form.lesEtudiants.vars.choices[index].data %}
      <tr>
        <td>{{entity.nom}}</td>
        <td>{{entity.prenom}}</td>
        <td>{{entity.mail}}</td>
        <td>{{form_widget(form.lesEtudiants[index])}}</td>
      </tr>
      {% endfor %}

      </tbody>
    </table>

<div class='bouton'>
    <a href="{{ path('statut_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
</div>



{{ form_end(form) }}
