{{ form_start(form) }}
<div class="table-responsive">
<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="statut_nom" class="required">Nom du groupe</label></th>
      <td >{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="statut_description" class="required">Description du groupe</label></th>
      <td >{{ form_errors(form.description) }}{{ form_widget(form.description) }}</td>
    </tr>
  </tbody>
</table>
</div>
<br> <h1 class="h4 mb-0 text-gray-800">Ajouter des étudiants au groupe</h1> <br>
<div class="table-responsive">
<table class="table table-hover" id="etudAjout">
  <thead>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Mail</th>
    </tr>
  </thead>
  <tbody>
    {% for etudiant in form.lesEtudiantsAAjouter %}
    {# store index of the category in a variable #}
    {% set index = etudiant.vars.value %}

    {# get entity object from its index in the Categories Field #}
    {% set entity = form.lesEtudiantsAAjouter.vars.choices[index].data %}
    <tr>
      <td>{{form_widget(form.lesEtudiantsAAjouter[index])}}</td>
      <td>{{entity.nom}}</td>
      <td>{{entity.prenom}}</td>
      <td>{{entity.mail}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>
{% if edit %}
<br> <h1 class="h4 mb-0 text-gray-800">Retirer des étudiants du groupe</h1> <br>
<div class="table-responsive">
<table class="table table-hover" id="etudSuppr">
  <thead>
    <tr>
      <th></th>
      <th>Nom</th>
      <th>Prénom</th>
      <th>Mail</th>
    </tr>
  </thead>
  <tbody>
    {% for etudiant in form.lesEtudiantsASupprimer %}
    {# store index of the category in a variable #}
    {% set index = etudiant.vars.value %}

    {# get entity object from its index in the Categories Field #}
    {% set entity = form.lesEtudiantsASupprimer.vars.choices[index].data %}
    <tr>
      <td>{{form_widget(form.lesEtudiantsASupprimer[index])}}</td>
      <td>{{entity.nom}}</td>
      <td>{{entity.prenom}}</td>
      <td>{{entity.mail}}</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
</div>
{% endif %}
<div class='bouton' align=center>
  <a href="{{ path('statut_index') }}" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
