{% extends 'admin_base.html.twig' %}

{% block tirePage %}Liste des statuts étudiants{% endblock %}

{% block statutsEtudiants %}active{% endblock %}

{% block contenu %}

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Createur</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for statut in statuts %}
            <tr>
                <td>{{ statut.nom }}</td>
                <td>{{ statut.description }}</td>
                <td>{{ statut.enseignant.nom}} {{ statut.enseignant.prenom}}</td>
                <td>
                    <a href="{{ path('statut_show', {'id': statut.id}) }}">show</a>
                    <a href="{{ path('statut_edit', {'id': statut.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('statut_new') }}">Create new</a>
{% endblock %}

{% block datatables %}

<script type="text/javascript">
$(document).ready(function() {
  $('#table').dataTable({
    language: {
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, {"orderable": false},null,{"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
