{% extends 'base.html.twig' %}

{% block titrePage %}Liste des groupes d'étudiants ayant un statut particulier{% endblock %}

{% block statutsEtudiants %}active{% endblock %}

{% block contenu %}

{% if statuts is not empty %}

<div class='bouton' align=center>
    <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('statut_new') }}">Créer un groupe</a>
</div>
<div class="table-responsive table-hover">
    <table class="table" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Effectif</th>
                <th>Description</th>
                <th>Créateur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for statut in statuts %}
            <tr>
                <td>{{ statut.nom }}</td>
                <td>{{ statut.etudiants|length }}</td>
                <td>{{ statut.description }}</td>
                <td>{{ statut.enseignant.prenom}} {{ statut.enseignant.nom}}</td>
                <td>
                    <a href="{{ path('statut_show', {'slug': statut.slug}) }}"><i class="icon-eye" data-toggle='tooltip' title='Consulter {{ statut.nom }}'></i></a>
                    <a {% if statut.enseignant.id == app.user.id or is_granted('ROLE_ADMIN') %} href="{{ path('statut_edit', {'slug': statut.slug}) }}" {% endif %}><i class="icon-pencil-1" data-toggle='tooltip' title='Modifier {{ statut.nom }}'></i></a>
                    <a {% if statut.enseignant.id == app.user.id or is_granted('ROLE_ADMIN') %} href="#" onclick="supprimerStatutEtudiant('{{ path('statut_delete', {'slug': statut.slug}) }}')" {% endif %}><i class="icon-trash" data-toggle='tooltip' title='Supprimer {{ statut.nom }}'></i></a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
{% else %}

<div class="info">
  <h1 class="h4 mb-0 text-gray-800">Vous n'avez aucun groupe d'étudiants ayant un statut particulier</h1>
</div>
<div class='bouton' align=center>
  <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('statut_new') }}">Créer un groupe</a>
</div>

{% endif %}
    <div class="modal fade" id="delStatutEtudiant" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">x</span>
            </button>
          </div>
          <div class="modal-body">
              Êtes-vous sur de vouloir supprimer le statut d'étudiant ? <br>
              Vous ne pourrez plus voir de statistiques sur ce regroupement d'étudiants.
          </div>
          <div class="modal-footer">
            <button class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm" type="button" data-dismiss="modal">Annuler</button>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" id = "BoutonSupprimerModale" href="#">Supprimer le groupe</a>
          </div>
        </div>
      </div>
    </div>

    <script type="text/javascript">

    function supprimerStatutEtudiant(url) {
      $("#delStatutEtudiant").modal();
      document.getElementById("BoutonSupprimerModale").href = url;
    }

    </script>

{% endblock %}


{% block datatables %}

<script type="text/javascript">
$(document).ready(function() {
  $('#table').dataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [1, "asc"]
    ],
    columns: [null, null, {"orderable": false},null,{"orderable": false}],
    lengthMenu: [
      [15, 30, 45, -1],
      [15, 30, 45, "Tout"]
    ],
    pageLength : {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
    info: false,
  });
});
</script>

{% endblock %}
