{% extends 'base.html.twig' %}

{% block titrePage %}Voir le groupe {{ statut.nom }} {% endblock %}

{% block statutsEtudiants %}active{% endblock %}

{% block contenu %}
{% if statut.enseignant == app.user or is_granted('ROLE_ADMIN') %}
<div class='bouton' align=center>
  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('statut_edit', {'slug': statut.slug}) }}">Modifier le statut</a>
</div>
{% endif %}
    <table class="table">
        <tbody>
            <tr>
                <th class="intitule">Description</th>
                <td >{{ statut.description }}</td>
            </tr>
            <tr>
              <th class="intitule">Créateur</th>
              <td>{{ statut.enseignant.prenom }} {{ statut.enseignant.nom }}</td>
            </tr>
        </tbody>
    </table>

    <h1 class="h4 mb-0 text-gray-800">Liste des étudiants possédant ce statut</h1> <br>

    <table class="table" id="etud">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Mail</th>
        </tr>
      </thead>
      <tbody>
        {% if etudiants is not empty %}
        {% for etudiant in etudiants %}
        <tr>
          <td>{{etudiant.nom}}</td>
          <td>{{etudiant.prenom}}</td>
          <td>{{etudiant.mail}}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>


{% endblock %}



{% block datatables %}

<script type="text/javascript">

$(document).ready(function() {
  $('#etud').dataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null, {"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
