{{form_start(form)}}

<table class="table" id= "groupes">
<thead>
  <th>Nom</th>
  <th>Effectif</th>
  <th>Description</th>
  <th>Créateur</th>
  <th></th>
</thead>
<tbody>
  {% for groupe in form.groupes %}

    {# store index of the category in a variable #}
    {% set index = groupe.vars.value %}

    {# get entity object from its index in the Categories Field #}
    {% set entity = form.groupes.vars.choices[index].data %}
      <tr>
          <td>{{entity.nom}}</td>
          <td></td>
          <td>{{entity.description}}</td>
          <td>{{entity.enseignant.prenom}} {{entity.enseignant.nom}}</td>
          <td>{{form_widget(form.groupes[index])}}</td>
      </tr>
  {% endfor %}
</tbody>
</table>

<div class='bouton'>
  <a href="{{path('evaluation_enseignant', {'id': app.user.id })}}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">Valider le choix</button>
</div>

{{form_end(form)}}
