{{ form_start(form) }}
<div class="table-responsive">
<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="evaluation_nom" >Nom de l'évaluation</label></th>
      <td>{{ form_help(form.nom) }}{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="evaluation_date" >Date de l'évaluation</label></th>
      <td>{{ form_errors(form.date) }}{{ form_widget(form.date) }}</td>
    </tr>
  </tbody>
</table>
</div>
<div class='bouton' align=center>
  <span style="font-size:15px" class="badge badge-pill badge-primary"><i class="icon-attention-circled"></i> Si un étudiant était absent à l'évaluation, saisissez -1. Sa note ne sera pas prise en compte pour les statistiques</span>
</div>
<br> <h1 class="h4 mb-0 text-gray-800">Modifier les notes des étudiants</h1> <br>
<div class="table-responsive">
  <table class="table table-hover" id="etudiants">
    <thead>
    <th>Nom</th>
    <th>Prénom</th>
    {% if parties|length != 1 %}
      {% for partie in parties %}
        <th>
          {% if partie.parent is not null and partie.lvl > 1 %}
            {{ partie.parent.intitule ~ " -" | nl2br }} {# Sortie : NomParent -\n #}
          {% endif %}
          {{ partie.intitule }} (/{{ partie.bareme }})
        </th>
      {% endfor %}
      <th>
        Note finale (/20)
      </th>
    {% else%}
      <th>
        Note finale (/20)
      </th>
    {% endif %}
    </thead>
    <tbody>
    {% if form.vars.value.notes is not empty %}
      {% set premierFormulaireAAfficher = 0 %}
      {% set dernierFormulaireAAfficher = (premierFormulaireAAfficher + parties|length) -1  %}
      {% for etudiant in etudiants %}
        <tr>
          <td>{{ etudiant.nom }}</td>
          <td>{{ etudiant.prenom }}</td>
          {# Pour chaque étudiant, on affiche x formulaires pour saisir les notes (x étant le nombre de parties) #}
          {% for i in premierFormulaireAAfficher..dernierFormulaireAAfficher %}
            <td>{{ form_errors(form.notes[i].valeur) }}{{form_widget(form.notes[i].valeur)}}</td>
          {% endfor %}
          {% set premierFormulaireAAfficher = premierFormulaireAAfficher + parties | length %}
          {% set dernierFormulaireAAfficher = (dernierFormulaireAAfficher + parties|length) %}
          {% if parties|length != 1 %}
            <td>0</td>
          {% endif %}
        </tr>
      {% endfor %}
    {% endif %}
    </tbody>
  </table>
</div>
<div class='bouton' align=center>
  <a href="{{ path('evaluation_enseignant') }}" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
