
{{ form_start(form) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <td class="intitule"><label for="evaluation_nom" class="required">Nom</label></td>
      <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <td class="intitule"><label for="evaluation_date" class="required">Date</label></td>
      <td>{{ form_widget(form.date) }}</td>
    </tr>
  </tbody>
</table>

<br> <h1 class="h4 mb-0 text-gray-800">Notes des étudiants</h1> <br>

<table class="table" id="etudiants">
  <thead>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Mail</th>
    <th></th>
  </thead>

  <tbody>
  {% for etudiant in form.etudiants %}

    {# store index of the category in a variable #}
    {% set index = etudiant.vars.value %}

    {# get entity object from its index in the Categories Field #}
    {% set entity = form.etudiants.vars.choices[index].data %}
      <tr>
          <td>{{entity.nom}}</td>
          <td>{{entity.prenom}}</td>
          <td>{{entity.mail}}</td>
          <td>{{form_widget(form.etudiants[index])}}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>


<div class='bouton'>
  <a href="{{ path('evaluation_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm bouton">Annuler</a>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default("Créer l'évaluation") }}</button>
</div>

{{ form_end(form) }}
