
{{ form_start(form) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <td class="intitule"><label for="evaluation_nom" class="required">Nom</label></td>
      <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <td class="intitule"><label for="evaluation_date" class="required">Date</label></td>
      <td>{{ form_widget(form.date) }}</td>
    </tr>
  </tbody>
</table>

<br> <h1 class="h4 mb-0 text-gray-800">Notes des étudiants</h1> <br>

<table class="table" id="etudiants">
  <thead>
    <th>Nom</th>
    <th>Prenom</th>
    <th>Mail</th>
    <th>Note</th>
  </thead>

  <tbody>
  {% for etudiant in form.etudiants %}

    {# store index of the category in a variable #}
    {% set index = etudiant.vars.value %}

    {# get entity object from its index in the Categories Field #}
    {% set entity = form.etudiants.vars.choices[index].data %}
      <tr>
          <td>{{entity.nom}}</td>
          <td>{{entity.prenom}}</td>
          <td>{{entity.mail}}</td>
          <td><input STYLE="color: #000000; background-color: #FFFFFF;" type="number" name="note" id="laNote"></input></td>
          <!--{{form_widget(form.etudiants[index])}} -->
      </tr>
  {% endfor %}
  </tbody>
</table>

<script type="text/javascript">

  function validate(){
    var text = document.getElementById("laNote").value;
    <!--var regx = /[0-1][0-9]|20/ -->

    if(text > 20 || text < 0){
        document.getElementById("laNote").style.background = "#FF0016"
        document.getElementById("laNote").style.color = "#FFFFFF"
      }
    else{
      document.getElementById("laNote").style.background = "#FFFFFF"
      document.getElementById("laNote").style.color = "#000000"
    }
  }
</script>


<div class='bouton'>
  <a href="{{ path('evaluation_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm bouton">Annuler</a>
  <button onclick="validate()" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default("Créer l'évaluation") }}</button>
</div>

{{ form_end(form) }}
