{{ form_start(form) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="evaluation_nom" >Nom de l'évaluation</label></th>
      <td>{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="evaluation_date" >Date de l'évaluation</label></th>
      <td>{{ form_errors(form.date) }}{{ form_widget(form.date) }}</td>
    </tr>
  </tbody>
</table>

<br> <h1 class="h4 mb-0 text-gray-800">Modifier les notes des étudiants</h1> <br>

<table class="table" id="etudiants">
<thead>
  <th>Nom</th>
  <th>Prénom</th>
  <th>Note / 20</th>
</thead>
<tbody>

{% if form.vars.value.notes is not empty %}
{# Le tableau form.vars.value.notes contient la liste des entités notes passées en paramètre du formulaire dans le
   controlleur. On boucle dans ces valeurs pour afficher un étudiant et le formulaire de saisie de note qui lui correspond #}
{% for i in 0..(form.vars.value.notes|length-1) %}
<tr>
  <td>{{form.vars.value.notes[i].etudiant.nom}}</td>
  <td>{{form.vars.value.notes[i].etudiant.prenom}}</td>
  <td>{{ form_errors(form.notes[i].valeur) }}{{form_widget(form.notes[i].valeur)}}</td>
</tr>
{% endfor %}
{% endif %}
</tbody>
</table>

<div class='bouton' align=center>
  <a href="{{ path('groupe_etudiant_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
