{% extends 'base.html.twig' %}

{% block titrePage %}Choisir le groupe à évaluer{% endblock %}

{% block evaluations %}active{% endblock %}

{% block show %}show{% endblock %}

{% block mesEvaluations %}active{% endblock %}

{% block contenu %}
    {{ form_start(form) }}
    {{ form_errors(form.groupes) }}
    <div class="table-responsive table-hover">
        <table class="table" id="groupes">
            <thead>
            <th></th>
            <th>Nom</th>
            <th>Effectif</th>
            <th>Description</th>
            <th>Créateur</th>
            </thead>
            <tbody>
            {% for groupe in form.groupes %}
                {# store index of the category in a variable #}
                {% set index = groupe.vars.value %}
                {# get entity object from its index in the Categories Field #}
                {% set entity = form.groupes.vars.choices[index].data %}
                <tr>
                    <td>{{ form_widget(form.groupes[index]) }}</td>
                    <td>
                        {% if entity.lvl > 0 %}
                            {% for i in 1.. entity.lvl %}
                                &emsp;
                            {% endfor %}
                        {% endif %}
                        {{ entity.nom }}
                    </td>
                    <td>{{ entity.etudiants|length }}</td>
                    <td>{{ entity.description }}</td>
                    <td>{{ entity.enseignant.prenom }} {{ entity.enseignant.nom }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='bouton' align=center>
        <button id="valider" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ labelBoutonSuivant  | default ("Créer l'évaluation pour ce groupe")}}</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block datatables %}
    <script type="text/javascript">
        var table = $('#groupes').DataTable({
            language: {
                // Suppression du label Rechercher et ajout du placeholder
                search: "_INPUT_",
                searchPlaceholder: "Rechercher...",
                "url": "{{ asset('tradfr.json') }}"
            },
            aaSorting: [],
            columns: [{"orderable": false}, null, null, {"orderable": false}, null],
            lengthMenu: [
                [15, 30, 45, -1],
                [15, 30, 45, "Tout"]
            ],
            pageLength: {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
            info: false,
            "fnInitComplete": function(oSettings, json) {
                $("[name='form[groupes]']").first().attr('checked', true)  //Pour cocher le premier choix par défaut
            }
        });
        $("[name='form']").on('submit', function () {
            table.search("").draw(); //Pour annuler la recherche effectuée dans le champ en haut à droite du tableau
            table.rows().nodes().page.len(-1).draw(); // Cette fonction permet, avant la soumission du formulaire, d'afficher dans le DOM toutes les lignes du tableau pour qu'aucune ne soit ignorée
        });
    </script>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function () {
            checkCasesCocheesPage()
        }

        $("[name='form[groupes]']").on('click', function () {
            checkCasesCocheesPage()
        })

        function checkCasesCocheesPage() {
            groupesCheck = false; //Au moins un groupe coché
            $("#valider").attr('disabled', true)
            $("[name='form[groupes]']").each(function () {
                if (this.checked) {
                    groupesCheck = true;
                    return false; //Equivalent d'un break, car un seul coché suffit
                }
            })
            if (groupesCheck) { //Si un groupe ou statut coché ET une partie cochée
                $("#valider").attr('disabled', false)
            }
        }

    </script>
{% endblock %}
