{% extends 'base.html.twig' %}

{% block titrePage %}Créer des parties pour {{ app.session.get('evaluation').nom }}{% endblock %}

{% block evaluations %}active{% endblock %}

{% block show %}show{% endblock %}

{% block stylesheets %}
    <style>
        .badge {
            float: right;
            display: inline-block;
            min-width: 10px;
            padding: 3px 7px;
            font-size: 12px;
            font-weight: bold;
            line-height: 1;
            color: #fff;
            text-align: center;
            white-space: nowrap;
            vertical-align: baseline;
            background-color: #0275d8;
            border-radius: 10px;
        }
        div .blue {color:#0275d8}
        div .red {color:red}
    </style>
{% endblock %}

{% block contenu %}
    <h1 class="h4 mb-0 text-gray-800">Selectionnez une partie pour ajouter une sous-partie, modifier une partie, ou supprimer une partie</h1> <br>
    <div class="row">
        <div class="col-lg-4">
        </div>
        <div class="col-lg-4">
            <div class='bouton' align=center>
                <button class="btn btn-success" onclick="onCreerPartie()" title="Créer une sous-partie" data-toggle="tooltip"><i class="icon-plus"></i></button>
                <button id="boutonModifier" class="btn btn-primary" onclick="onModifierPartie()" title="Modifier une partie" data-toggle="tooltip"><i class="icon-pencil-1"></i> </button>
                <button id="boutonSupprimer" class="btn btn-danger" onclick="onSupprimerPartie()" title="Supprimer une partie" data-toggle="tooltip"><i class="icon-trash"></i> </button>
            </div>
            <div id="arbre_boot">
            </div>
            <div class='bouton' align=center>
                <button onclick='$("#modaleValidationCreation").modal()' class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Saisir les notes</button>
            </div>
        </div>
        <div class="col-lg-4">
        </div>
    </div>

    <div class="modal fade" id="modalePartie" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="titreModaleFormulaire">Créer une partie</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <form name="form" id="formPartie">
                <div class="modal-body">
                    <table align="center" class="table">
                        <tbody>
                            <tr>
                                <th class="intitule"><label for="statut_nom" class="required">Intitulé de la partie</label></th>
                                <td><input type="text" id="champIntitule" required maxlength="255" minlength="4" class="form-control"></td>
                            </tr>
                            <tr>
                                <th class="intitule"><label for="statut_description" class="required">Barème de la partie</label></th>
                                <td > <input type="number" id="champBareme" required min="0" step="0.1" class="form-control"></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Valider</button>
                </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modalePasDePartieSelectionnee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Actions sur les parties</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div style="text-align: center; font-weight: bold">Vous n'avez pas selectionné de partie !</div>
                    <br>
                    <ul>
                        <li>Pour ajouter une nouvelle partie, veuillez cliquer sur une partie dans le tableau à laquelle vous voulez ajouter une sous-partie</li>
                        <li>Pour modifier une partie, veuillez cliquer sur une partie que vous désirez modifier</li>
                        <li>Pour supprimer une partie, veuillez cliquer sur une partie que vous désirez supprimer</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="d-sm-inline-block btn btn-sm btn-primary" type="button" data-dismiss="modal">Ok</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="modaleValidationCreation" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                        <h5 class="modal-title">Attention</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    Une fois l'évaluation créée, vous ne pourrez plus modifier ses parties. Êtes-vous sûr de vouloir créer ces parties ?
                </div>
                <div class="modal-footer">
                    {{ form_start(form) }}
                    {{ form_widget(form.arbre) }}
                        <button class="d-sm-inline-block btn btn-sm btn-primary">Valider et saisir les notes</button>
                    {{ form_end(form) }}
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        var tree = [{{ app.session.get("arbre_json") | json_encode | raw }}] // Variable venant du serveur
        window.onload = chargerArbre();

        //Cet écouteur d'évenement permet d'attendre la validation de création des parties puis de mettre le tableau encodé sous forme d'url dans le champ hidden du formulaire
        // pour le passer coté serveur et le décoder ensuite
        $("[name='form']").on('submit', function () {
            $("[name='form[arbre]']").val(encodeURIComponent(JSON.stringify(tree)))
        })

        function onCreerPartie() {
            var partieSelectionnee = $('#arbre_boot').treeview('getSelected');
            if (partieSelectionnee.length != 0) {
                $("#formPartie").unbind();
                $('#titreModaleFormulaire').html("Créer une partie")
                $('#champIntitule').val('');
                $('#champBareme').val('');
                $('#modalePartie').modal('show');
                $("#formPartie").submit(function (e) {
                    e.preventDefault(); //Pour que la page ne se rafraichisse pas lors de la validation
                    $('#modalePartie').modal('hide');
                    ajouterUnePartie(partieSelectionnee[0].id, $('#champIntitule').val(), parseFloat($('#champBareme').val()));
                })
            }
            else {
                $('#modalePasDePartieSelectionnee').modal();
            }
        }

        function onSupprimerPartie() {
            var partieSelectionnee = $('#arbre_boot').treeview('getSelected');
            if (partieSelectionnee.length != 0) {
                if (partieSelectionnee[0].id != 1) {
                    var parent = $('#arbre_boot').treeview('getParent', partieSelectionnee);
                    supprimerUnePartie(parent.id, partieSelectionnee[0]);
                }
            }
            else {
                $('#modalePasDePartieSelectionnee').modal();
            }
        }

        function onModifierPartie() {
            var partieSelectionnee = $('#arbre_boot').treeview('getSelected');
            if (partieSelectionnee.length != 0) {
                if (partieSelectionnee[0].id != 1) {
                    $("#formPartie").unbind();
                    $('#titreModaleFormulaire').html("Modifier une partie")
                    $('#champIntitule').val(partieSelectionnee[0].nom);
                    $('#champBareme').val(partieSelectionnee[0].bareme);
                    $('#modalePartie').modal('show');
                    $("#formPartie").submit(function (e) {
                        e.preventDefault(); //Pour que la page ne se rafraichisse pas lors de la validation
                        $('#modalePartie').modal('hide');
                        modifierUnePartie(partieSelectionnee[0].id, $('#champIntitule').val(), parseFloat($('#champBareme').val()));
                    })
                }
            }
            else {
                $('#modalePasDePartieSelectionnee').modal();
            }
        }
    </script>
{% endblock %}