{% extends 'base.html.twig' %}

{% block titrePage %}Liste des évaluations{% endblock %}

{% block evaluations %}active{% endblock %}

{% block show %}show{% endblock %}

{% block mesEvaluations %}{{ self }}{% endblock %}

{% block autresEvaluations %}{{ other }}{% endblock %}

{% block collapsed %}{% endblock %}

{% block contenu %}
{% if evaluations is not empty %}
<div class='bouton'>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="location.href='{{ path('evaluation_choose_group') }}'">Créer une évaluation</button>
</div>
<table class="table" id="table">
  <thead>
    <tr>
      <th>Nom</th>
      <th>Date</th>
      <th>Moyenne</th>
      <th>Groupe</th>
      <th>Créateur</th>
      <th></th>
    </tr>
  </thead>
  <tbody>

    {% for evaluation in evaluations %}
    <tr>
      <td>{{ evaluation.nom }}</td>
      <td>{{ evaluation.date }}</td>
      <td>
        {# Calcul de la moyenne de chaque évaluation #}
        {% set nbNotes = 0 %}
        {% set cumulNotes = 0 %}
        {% set resultat = 0 %}
        {%  for partie in evaluation.parties %}
          {% for note in partie.notes %}
            {% set nbNotes = nbNotes + 1 %}
            {% set cumulNotes = cumulNotes + note.valeur %}
          {% endfor %}
        {% endfor %}
        {% set resultat = cumulNotes / nbNotes %}
        {{ resultat|round(2) }}
      </td>
      <td>{{ evaluation.groupe.nom }}</td>
      <td>{{ evaluation.enseignant.prenom }} {{ evaluation.enseignant.nom }}</td>
      <td>
        <a href="{{ path('evaluation_show', {'slug': evaluation.slug}) }}"><i class="icon-eye" data-toggle='tooltip' title="Consulter {{ evaluation.nom }}"></i></a>
        {% if evaluation.enseignant == app.user or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('evaluation_edit', {'slug': evaluation.slug}) }}"><i class="icon-pencil-1" data-toggle='tooltip' title="Modifier {{ evaluation.nom }}"></i></a>
        {% endif %}
        <a href="{{path('evaluation_choose_groups', {'slugEval' : evaluation.slug, 'slugGroupe' : evaluation.groupe.slug})}}"><i class="icon-logo-noteo" data-toggle='tooltip' title='Visualiser les statistiques pour {{ evaluation.nom }}'></i></a>
        {% if evaluation.enseignant == app.user or is_granted('ROLE_ADMIN') %}
        <a href="{{ path('evaluation_delete', {'slug': evaluation.slug}) }}" onclick="EcritureModale('{{ path('evaluation_delete', {'slug': evaluation.slug}) }}')" data-toggle='modal'>
          <i class="icon-trash" data-toggle='tooltip' title="Supprimer {{ evaluation.nom }}"></i>
        </a>
        {% endif %}

      </td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% else %}
  <div class="info">
    <h1 class="h4 mb-0 text-gray-800">Vous n'avez aucune évaluation</h1>
  </div>
  <div class='bouton'>
    <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" onclick="location.href='{{ path('evaluation_choose_group') }}'">Créer une évaluation</button>
  </div>

{% endif %}

<div class="modal fade" id="delEval" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
        <button class="close" type="button" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      <div class="modal-body">Etes vous sur de vouloir supprimer cette évaluation ? </div>
      <div class="modal-footer">
        <button class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm bouton" type="button" data-dismiss="modal">Annuler</button>
        <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm bouton" id="BoutonSupprimerModale" href="#">Supprimer l'évaluation</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
  /* Cette fonction est utilisée pour adapter le href du bouton de confirmation de la suppression
d'une évaluation dans la fenetre modale, afin de s'adapter a l'évaluation que l'on veut supprimer */
  function EcritureModale(url) {
    $("#delEval").modal(); //On fait apparaitre la fenêtre modale
    document.getElementById("BoutonSupprimerModale").href = url; //On réécrit le href du bouton de suppression avec l'url correspondante a l'évaluation dont on a cliqué sur la corbeille
  }
</script>

{% endblock %}

{% block datatables %}

<script type="text/javascript">
  $(document).ready(function() {
    $('#table').dataTable({
      language: {
        // Suppression du label Rechercher et ajout du placeholder
        search: "_INPUT_",
        searchPlaceholder: "Rechercher...",
        "url": "{{asset('tradfr.json')}}"
      },
      columns: [null, null, null, null, null, {"orderable": false}],
      order: [
        [0, "asc"]
      ],
      lengthMenu: [
        [10, 25, 50, -1],
        [10, 25, 50, "Tout"]
      ],
      info: false,
      columnDefs: [{
        "sType": "date-eu",
        targets: 1
      }]
    });
  });
</script>

{% endblock %}
