{% extends 'admin_base.html.twig' %}

{% block tirePage %}Liste des évaluations{% endblock %}

{% block evaluations %}active{% endblock %}

{% block contenu %}

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Date</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for evaluation in evaluations %}
            <tr>
                <td>{{ evaluation.id }}</td>
                <td>{{ evaluation.nom }}</td>
                <td>{{ evaluation.date }}</td>
                <td>
                    <a href="{{ path('evaluation_show', {'id': evaluation.id}) }}">show</a>
                    <a href="{{ path('evaluation_edit', {'id': evaluation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('evaluation_new') }}">Create new</a>
{% endblock %}

{% block datatables %}

<script type="text/javascript">
$(document).ready(function() {
  $('#table').dataTable({
    language: {
      "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null, null,{"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
