Bonjour {{etudiantsEtNotes.etudiant.prenom}} {{etudiantsEtNotes.etudiant.nom}},<br><br>
Veuillez trouver dans ce mail les informations concernant l'évaluation {{etudiantsEtNotes.partie.evaluation.nom}} du {{etudiantsEtNotes.partie.evaluation.date}}
<br><br>
Groupe : {{etudiantsEtNotes.partie.evaluation.groupe.nom}}<br><br>
<h2>{{etudiantsEtNotes.partie.intitule}}</h2>
<h4>Votre note : {{etudiantsEtNotes.valeur}} / {{etudiantsEtNotes.partie.bareme}}</h4>

{% for statsUnGroupe in stats %}
  <table border="1" style="border-collapse:collapse;">
    <tr>
      <th width=50%>{{statsUnGroupe.nom}}</th>
      <th>Répartition des notes</th>
    </tr>
    <tr style="text-align:center;">
      <td>
          Moyenne : {{statsUnGroupe.moyenne}}<br>
          Écart-type : {{statsUnGroupe.ecartType}}<br>
          Minimum : {{statsUnGroupe.minimum}}<br>
          Maximum : {{statsUnGroupe.maximum}}<br>
          Médiane : {{statsUnGroupe.mediane}}
      </td>
      <td>
          <br>
          [0; 4[ &#x2794; {{statsUnGroupe.notes[0]}}<br>
          [4; 8[ &#x2794; {{statsUnGroupe.notes[1]}}<br>
          [8; 12[ &#x2794; {{statsUnGroupe.notes[2]}}<br>
          [12; 16[ &#x2794; {{statsUnGroupe.notes[3]}}<br>
          [16; 20] &#x2794; {{statsUnGroupe.notes[4]}}<br><br>
      </td>
    </tr>
    <tr>
      <td colspan="2" style="text-align:center">Votre rang : / </td>
    </tr>
  </table>
<br>
{% endfor %}
