Bonjour {{etudiantsEtNotes.etudiant.prenom}} {{etudiantsEtNotes.etudiant.nom}},<br><br>
Veuillez trouver dans ce mail les informations concernant l'évaluation {{etudiantsEtNotes.partie.evaluation.nom}} du {{etudiantsEtNotes.partie.evaluation.date | date("d/m/Y")}} sur le groupe {{etudiantsEtNotes.partie.evaluation.groupe.nom}}.
<h3>{{etudiantsEtNotes.partie.intitule}}</h3>
<table border="1" style="border-collapse:collapse;">
  <tr>
    <th width=200em>Votre note</th>
    <th width=200em>Votre rang</th>
  </tr>
  <tr style="text-align:center;">
    <td>{{etudiantsEtNotes.valeur}} / {{etudiantsEtNotes.partie.bareme}}</td>
    <td>{{position}} / {{effectif}}</td>
  </tr>
</table>
<br>
{% for statsUnGroupe in stats %}
<table border="1" style="border-collapse:collapse;">
  <tr>
    <th width=200em>
      {{statsUnGroupe.nom}}
      {% set effectifTotal = 0 %}
      {% for effectif in statsUnGroupe.notes %}
        {% set effectifTotal = effectifTotal + effectif %}
      {% endfor %}
      ({{ effectifTotal }} étudiants)
    </th>
    <th width=200em>Répartition des notes</th>
  </tr>
  <tr style="text-align:center;">
    <td>
      Moyenne : {{statsUnGroupe.moyenne}}<br>
      Écart-type : {{statsUnGroupe.ecartType}}<br>
      Minimum : {{statsUnGroupe.minimum}}<br>
      Maximum : {{statsUnGroupe.maximum}}<br>
      Médiane : {{statsUnGroupe.mediane}}
    </td>
    <td>
      <br>
      [0; 4[ : {{statsUnGroupe.notes[0]}} étudiant(s)<br>
      [4; 8[ : {{statsUnGroupe.notes[1]}} étudiant(s)<br>
      [8; 12[ : {{statsUnGroupe.notes[2]}} étudiant(s)<br>
      [12; 16[ : {{statsUnGroupe.notes[3]}} étudiant(s)<br>
      [16; 20] : {{statsUnGroupe.notes[4]}} étudiant(s)<br><br>
    </td>
  </tr>
</table>
<br>
{% endfor %}
<p style="font-size:10px;text-align:justify;margin-top:20px;">
  Votre nom, prénom et vos notes ont été récoltés afin de produire des statistiques sur le taux de réussite des étudiants. La loi « Informatique et Liberté » vous permet de demander la suppression de vos données personnelles figurant dans une base de données à travers le droit d’opposition (article 38 de la loi n° 78-17 du 6/01/1978) et le droit de rectification (article 40 de la loi n° 78-17 du 6/01/1978). Pour exercer ces droits, veuillez en informer l’administrateur : <a href="mailto:{{mailAdmin}}">{{mailAdmin}}</a><br>En cas de suppression de vos informations, vous ne recevrez plus de statistiques concernant votre taux de réussite aux différentes évaluations.
</p>
<div align=center style="margin-top:50px;">
  <img width="150em" src="{{asset('img/banniere_noteo.jpg')}}" alt="">
</div>
