{% extends 'base.html.twig' %}

{% block titrePage %}Envoyer les statistiques aux étudiants{% endblock %}

{% block statistiques %}active{% endblock %}

{% block contenu %}
    {{ form_start(form) }}
    <h1 class="h4 mb-0 text-gray-800">Aperçu du mail que les étudiants du groupe {{ nomGroupe }} recevront</h1> <br>
    <div align=center>
        <iframe src="{{ path("exemple_mail",{id:evaluation.id}) }}"
                style="overflow:hidden;height:60vh;width:60vw"></iframe>
    </div>
    <br>
    <h1 class="h4 mb-0 text-gray-800">Joindre un fichier PDF au mail (optionnel)</h1> <br>
    <div class="table-responsive">
        <table align="center" class="table">
            <tbody>
            <tr>
                <th class="intitule"><label for="groupe_etudiant_fichier" class="required">Fichier PDF</label></th>
                <td>{{ form_errors(form.fichierPDF) }}{{ form_widget(form.fichierPDF) }}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class='bouton' align=center>
        <button type="submit" class="btn btn-primary">Envoyer le mail aux {{ nbEtudiants }} étudiants</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block javascripts %}
    <script>
        //Pour mettre à jour le nom du fichier déposé dans le champ de formulaire
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
{% endblock %}