{% extends 'base.html.twig' %}

{% block titrePage %}Créer une évaluation par parties{% endblock %}

{% block evaluations %}active{% endblock %}

{% block show %}show{% endblock %}

{% block contenu %}
    <h1 class="h4 mb-0 text-gray-800">Saisir les informations de l'évaluation</h1> <br>
    {{ form_start(form) }}
        <div class="table-responsive">
            <table align="center" class="table">
                <tbody>
                <tr>
                    <th class="intitule"><label for="evaluation_nom" >Nom de l'évaluation</label></th>
                    <td>{{ form_help(form.nom) }}{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
                </tr>
                <tr>
                    <th class="intitule"><label for="evaluation_date" >Date de l'évaluation</label></th>
                    <td>{{ form_errors(form.date) }}{{ form_widget(form.date) }}</td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class='bouton' align=center>
            <a href="{{ path('evaluation_enseignant') }}" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
            <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Créer les parties</button>
        </div>
    {{ form_end(form) }}


{% endblock %}