{% extends 'base.html.twig' %}

{% block tirePage %}Consulter une évaluation{% endblock %}

{% block evaluations %}active{% endblock %}

{% block contenu %}

    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ evaluation.nom }}</td>
            </tr>
            <tr>
                <th>Date</th>
                <td>{{ evaluation.date }}</td>
            </tr>
            <tr>
                <th>Groupe</th>
                <td>{{ evaluation.groupe.nom }}</td>
            </tr>
        </tbody>
    </table>

<h1 class="h4 mb-0 text-gray-800">Notes des étudiants</h1> <br>

  {% for partie in evaluation.parties %}

    {% for note in partie.notes %}

      <table class="table" id="etud">
        <thead>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Note</th>
        </thead>
        <tbody>
          <td>{{note.etudiant.nom}}</td>
          <td>{{note.etudiant.prenom}}</td>
          <td>{{note.valeur}}</td>
        </tbody>
      </table>

    {% endfor %}

  {% endfor %}

{% endblock %}

{% block datatables %}

<script type="text/javascript">

$(document).ready(function() {
  $('#etud').dataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
