{% extends 'base.html.twig' %}

{% block titrePage %}Consulter une évaluation{% endblock %}

{% block evaluations %}active{% endblock %}

{% block show %}show{% endblock %}

{% block mesEvaluations %}{% if evaluation.enseignant == app.user %}active{% endif %}{% endblock %}
{% block autresEvaluations %}{% if evaluation.enseignant != app.user %}active{% endif %}{% endblock %}

{% block collapsed %}{% endblock %}

{% block contenu %}

    <table class="table">
        <tbody>
            <tr>
                <th class="intitule">Nom</th>
                <td >{{ evaluation.nom }}</td>
            </tr>
            <tr>
                <th class="intitule">Date</th>
                <td >{{ evaluation.date }}</td>
            </tr>
            <tr>
                <th class="intitule">Groupe</th>
                <td >{{ evaluation.groupe.nom }}</td>
            </tr>
            <tr>
              <th class="intitule">Créateur</th>
              <td>{{ evaluation.enseignant.prenom }} {{ evaluation.enseignant.nom }}</td>
            </tr>
        <tr>
            <th class="intitule">Télécharger les notes</th>
            <td ><a href="javascript:exportTableToCSV('{{evaluation.nom}}.csv')"><i style="font-size: 20px;" class="icon-file-excel"></i> </a></td>
        </tr>

        </tbody>
    </table>

<h1 class="h4 mb-0 text-gray-800">Notes des étudiants</h1> <br>


      <table data-cols-width="25,25, 10" class="table" id="etud">
        <thead>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Note</th>
        </thead>
        <tbody>
          {% for partie in evaluation.parties %}
          {% for note in partie.notes %}
          <tr>
            <td>{{note.etudiant.nom}}</td>
            <td>{{note.etudiant.prenom}}</td>
            <td>{{note.valeur}}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>

{% endblock %}

{% block datatables %}

<script type="text/javascript">

$(document).ready(function() {
  $('#etud').dataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}

{% block javascripts %}
    <script>
        /*Les deux fonctions ci dessous permettent l'export de la page en csv. Elle inclue les notes mais aussi des infos
        * sur l'évaluation (nom, créateur, groupe, date).*/
        function downloadCSV(csv, filename) {
            var csvFile;
            var downloadLink;

            // CSV file
            csvFile = new Blob(["\uFEFF"+csv], {type: "text/csv; charset=utf-18"}); // Export en csv en utilisant UTF-8 pour les accents

            // Download link
            downloadLink = document.createElement("a");

            // File name
            downloadLink.download = filename;

            // Create a link to the file
            downloadLink.href = window.URL.createObjectURL(csvFile);

            // Hide download link
            downloadLink.style.display = "none";

            // Add the link to DOM
            document.body.appendChild(downloadLink);

            // Click download link
            downloadLink.click();
        }

        function exportTableToCSV(filename) {
            var csv = [];
            var rows = document.querySelectorAll("table tr");

            for (var i = 0; i < rows.length; i++) {
                var row = [], cols = rows[i].querySelectorAll("td, th");

                for (var j = 0; j < cols.length; j++) {
                        row.push(cols[j].innerText);
                }
                csv.push(row.join(";"));
            }
            //Exemple syntaxe : csv.splice(2,1) <=> on enlève deux éléments du tableau en partant du deuxième élément du tableau
            csv.splice(4,1); // On enleve du csv la ligne "Télécharger les notes" qui est la 5e en partant du début dans tous les cas
            csv.splice(csv.length-2,2); // On supprime les deux derniere lignes du tableau qui contiennent des informations incohérentes et inutiles dans ce cas

            // Download CSV file
            downloadCSV(csv.join("\n"), filename);
        }
    </script>
{% endblock %}
