{% extends 'base.html.twig' %}

{% block titrePage %}Consulter une évaluation{% endblock %}

{% block evaluations %}active{% endblock %}

{% block show %}show{% endblock %}

{% block mesEvaluations %}active{% endblock %}

{% block collapsed %}{% endblock %}

{% block contenu %}

    <table class="table">
        <tbody>
            <tr>
                <th class="intitule">Nom</th>
                <td >{{ evaluation.nom }}</td>
            </tr>
            <tr>
                <th class="intitule">Date</th>
                <td >{{ evaluation.date }}</td>
            </tr>
            <tr>
                <th class="intitule">Groupe</th>
                <td >{{ evaluation.groupe.nom }}</td>
            </tr>
            <tr>
              <th class="intitule">Créateur</th>
              <td>{{ evaluation.enseignant.prenom }} {{ evaluation.enseignant.nom }}</td>
            </tr>
        <tr>
            <th class="intitule">Télécharger les notes</th>
            <td ><a href="javascript:tableVersExcel()"><i style="font-size: 20px;" class="icon-file-excel"></i> </a></td>
        </tr>

        </tbody>
    </table>

<h1 class="h4 mb-0 text-gray-800">Notes des étudiants</h1> <br>


      <table data-cols-width="25,25, 10" class="table" id="etud">
        <thead>
          <th data-a-h="center" data-f-bold="true" data-f-italic="true" data-b-a-s="thin">Nom</th>
          <th data-a-h="center" data-f-bold="true" data-f-italic="true" data-b-a-s="thin">Prénom</th>
          <th data-a-h="center" data-f-bold="true" data-f-italic="true" data-b-a-s="thin">Note</th>
        </thead>
        <tbody>
          {% for partie in evaluation.parties %}
          {% for note in partie.notes %}
          <tr>
            <td data-b-a-s="thin">{{note.etudiant.nom}}</td>
            <td data-b-a-s="thin">{{note.etudiant.prenom}}</td>
            <td data-b-a-s="thin" data-a-h="center">{{note.valeur}}</td>
          </tr>
          {% endfor %}
          {% endfor %}
        </tbody>
      </table>




{% endblock %}

{% block datatables %}

<script type="text/javascript">

$(document).ready(function() {
  $('#etud').dataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}

{% block javascripts %}
    <script>
        /*Cette fonction récupère le contenu du tableau des notes et avec l'extension Table-to-excel
          crée l'excel correspondant */
        function tableVersExcel() {
            TableToExcel.convert(document.getElementById("etud"), {
                name: "{{evaluation.nom}}.xlsx",
                sheet: {
                    name: "Notes"
                }
            });
        }
    </script>
{% endblock %}
