{% extends 'base.html.twig' %}

{% block titrePage %}Visualiser les statistiques{% endblock %}

{% block evaluations %}active{% endblock %}

{% block show %}show{% endblock %}

{% block mesEvaluations %}active{% endblock %}

{% block collapsed %}{% endblock %}

{% block contenu %}

<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="evaluation_nom" >Nom de l'évaluation</label></th>
      <td >{{evaluation.nom}}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="evaluation_groupe" >Groupe</label></th>
      <td >{{evaluation.groupe.nom}}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="evaluation_date" >Date</label></th>
      <td >{{evaluation.date}}</td>
    </tr>
    <tr>
      <th class="intitule"><label >Actions</label></th>
      <td ><a href="#"><i style="font-size: 25px;" class="icon-file-pdf" onclick="TableToPdf()"></i></a> <a href="#"><i style="font-size: 25px;" class="icon-mail"></i></a></td>
    </tr>
  </tbody>
</table>

<div class="bouton">
  <span style="font-size:15px" class="badge badge-pill badge-danger">Les statistiques ne comportent pas les étudiants démissionaires</span>
</div>
<br>
{% if groupes is not empty %}

{% for groupe in groupes %}

<br>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{groupe.nom}}</li>
    <li class="list-group-item">
      <h5 class="card-title">Réparition des notes</h5><br>
      <center><canvas id="{{groupe.nom}}"></canvas></center>
    </li>
    <li class="list-group-item">
      <center>
        <div class="card" style="width: 20em;">
          <ul class="list-group list-group-flush" style="text-align:left;">
            <li class="list-group-item">Statistiques</li>
            <li class="list-group-item">
              <ul>
                <li>Moyenne : {{ groupe.moyenne }}</li>
                <li>Écart-type : {{ groupe.ecartType }}</li>
                <li>Minimum : {{ groupe.minimum }}</li>
                <li>Maximum : {{ groupe.maximum }}</li>
                <li>Médiane : {{ groupe.mediane }}</li>
              </ul>
            </li>
          </ul>
        </div>
      </center>
    </li>
  </ul>
</div>

{% endfor %}

{% else %}

<div class="info">
  <h2 class="h4 mb-0 text-gray-800">Veuillez sélectionner des groupes ou des statuts sur lesquels voir des statistiques </h2>
</div>

{% endif %}

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

{% for groupe in groupes%}


{% set maximumRepartition = max(groupe.notes)|json_encode() %}

{# si le maximum est égal à zéro (pas de notes pour le groupe) on définit une valeur maximale arbitraire de 5 pour y, sinon ce sera égal a la plus grande valeur du tableau de repartition #}
{% if maximumRepartition == 0 %}
{% set maximumRepartition = 5 %}
{% endif %}

var graph = document.getElementById('{{groupe.nom}}').getContext('2d');

var leBarre = new Chart(graph, {
  type: 'bar',
  data: {
    labels: ['[0;4[', '[4;8[', '[8;12[', '[12;16[', '[16;20]'],
    datasets: [{
      label: 'Effectif',
      data: {{groupe.notes|json_encode()}}, {# json_encode sert à rendre le tableau lisible en JavaScript #}
      backgroundColor: "#4e73df",
      hoverBackgroundColor: "#2e59d9",
      borderColor: "#4e73df"
    }]
  },
  options: {
    scales: {
      xAxes: [{
        gridLines: {
          display: false
        },
        ticks: {
          maxTicksLimit: 6
        },
        maxBarThickness: 100,
      }],
      yAxes: [{
        ticks: {
          beginAtZero: true,
          max: {{maximumRepartition}}
        }
      }]
    },
    aspectRatio: 3,
    maintainAspectRatio: true,
    responsive: true,
    legend: {
      display: false
    },
    tooltips: {
      titleMarginBottom: 10,
      titleFontColor: '#6e707e',
      titleFontSize: 14,
      backgroundColor: "rgb(255,255,255)",
      bodyFontColor: "#858796",
      borderColor: '#dddfeb',
      borderWidth: 1,
      xPadding: 15,
      yPadding: 15,
      displayColors: false,
      caretPadding: 10
    },
    plugins : {
      labels: {
        render: 'value'
      }
    }
  }
});

{% endfor %}



</script>

<script type="text/javascript">
  function TableToPdf(){
    window.print();
  }
</script>


{% endblock %}
