{% extends 'base.html.twig' %}

{% block tirePage %}Visualiser les statistiques{% endblock %}

{% block evaluations %}active{% endblock %}
{% set groupeVal = groupes["S1"] %}
{% block contenu %}

{{ dump() }}

<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="evaluation_nom" >Nom de l'évaluation</label></th>
      <td>{{evaluation.nom}}</td>
    </tr>
    <tr>
      <td class="intitule"><label for="evaluation_groupe" >Groupe</label></td>
      <td>{{evaluation.groupe.nom}}</td>
    </tr>
    <tr>
      <td class="intitule"><label for="evaluation_date" >Date</label></td>
      <td>{{evaluation.date}}</td>
    </tr>
    <tr>
      <th class="intitule"><label >Actions</label></th>
      <td><a href="#"><i style="font-size: 25px;" class="icon-file-pdf"></i><a href="#"><i style="font-size: 25px;" class="icon-file-excel"></i><a href="#"><i style="font-size: 25px;" class="icon-mail"></i></a> </td>
    </tr>
  </tbody>
</table>

<div class="bouton">
  <span style="font-size:15px"class="badge badge-pill badge-danger">Les statistiques ne comportent pas les étudiants démissionaires</span>
</div>

{% if groupes is not empty %}

{% for groupe in groupes %}

<br>
<div class="card">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">{{groupe.nom}}</li>
    <li class="list-group-item">
      <h5 class="card-title">Réparition des notes</h5>
      <center><canvas id="{{groupe.nom}}" width="500" height="500"></canvas></center>
    </li>
    <li class="list-group-item">
      <center>
        <div class="card" style="width: 20em;">
          <ul class="list-group list-group-flush" style="text-align:left;">
            <li class="list-group-item">Évaluation</li>
            <li class="list-group-item">
              <ul>
                <li>Moyenne : {{ groupe.moyenne }}</li>
                <li>Écart-type : {{ groupe.ecartType }}</li>
                <li>Minimum : {{ groupe.minimum }}</li>
                <li>Maximum : {{ groupe.maximum }}</li>
                <li>Médiane : {{ groupe.mediane }}</li>
            </ul>
          </li>
        </ul>
      </div>
    </center>
    </li>
  </ul>
</div>

{% endfor %}

{% else %}

<div class="info">
  <h2 class="h4 mb-0 text-gray-800">Veuillez sélectionner des groupes ou des statuts sur lesquels voir des statistiques
</div>

{% endif %}

{% endblock %}

{% block javascripts %}

<script type="text/javascript">

{% for groupe in groupes%}

var graph = document.getElementById('{{groupe.nom}}').getContext('2d');

var leBarre = new Chart(graph, {
    type: 'bar',
    data: {
        labels: ['[0;4[', '[4;8[', '[8;12[', '[12;16[', '[16;20]'],
        datasets: [{
            label: 'Quantité de notes',
            data: {{groupe.notes|json_encode()}},
            backgroundColor: [
                'rgba(255, 99, 132, 0.5)',
                'rgba(54, 162, 235, 0.5)',
                'rgba(255, 206, 86, 0.5)',
                'rgba(75, 192, 192, 0.5)',
				        'rgba(238, 130, 238, 0.5)',
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
				        'rgba(238, 130, 238, 1)',
            ],
            borderWidth: 1
        }]
    },
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero: true,
					max: 6
                }
            }]
        },
		responsive: false,
		title: {
            display: false,
            text: 'Répartition des notes'

        },
		legend: {
            display: false
        },
		plugins : {
			labels: {
        render: 'value'
			}
		}
    }
});

{% endfor %}



</script>


{% endblock %}
