{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="enseignant_nom" class="required">Nom</label></th>
      <td class="champ">{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_prenom" class="required">Prénom</label></th>
      <td class="champ">{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_mail" class="required">Mail</label></th>
      <td class="champ">{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_estAdmin" class="required">Administrateur</label></th>
      <td class="champ">{{ form_widget(form.estAdmin) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_motDePasse" class="required">Mot de passe</label></th>
      <td class="champ">{{ form_widget(form.password) }}</td>
    </tr>
  </tbody>
</table>

<div class='bouton'>
  <a href="{{ path('enseignant_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ label }}</button>
</div>

{{ form_end(form) }}
