{{ form_start(form) }}
<div class="table-responsive">
<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="enseignant_nom" class="required">Nom</label></th>
      <td class="champ">{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_prenom" class="required">Prénom</label></th>
      <td class="champ">{{ form_errors(form.prenom) }}{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_mail" class="required">Mail</label></th>
      <td class="champ">{{ form_errors(form.email) }}{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_estAdmin" class="required">Administrateur</label></th>
      <td class="champ">{{ form_errors(form.estAdmin) }}{{ form_widget(form.estAdmin) }}{% if enseignant == app.user and is_granted('ROLE_ADMIN') %}<span style="font-size:13px;color:red;"><i class="icon-attention-circled"></i> Si vous vous retirez vos droits d'administrateur, assurez-vous qu'une autre personne dispose de ces derniers.</span>{% endif %}</td>
    </tr>
    {% if edit %}
    <tr>
      <th class="intitule"><label for="enseignant_motDePasse" class="required">Préférence du nombre d'éléments affichés dans les tableaux</label></th>
      <td class="champ">{{ form_errors(form.preferenceNbElementsTableaux) }}{{ form_widget(form.preferenceNbElementsTableaux) }}</td>
    </tr>
    {% endif %}
    {% if not edit %}
    <tr>
      <th class="intitule"><label for="enseignant_motDePasse" class="required">Mot de passe</label></th>
      <td class="champ">{{ form_errors(form.password) }}{{ form_widget(form.password) }}</td>
    </tr>
    {% endif %}
  </tbody>
</table>
</div>
<div class='bouton' align=center>
  {% if edit %}
    <a href="{{ path('enseignant_show', {id: app.user.id}) }}" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  {% else %}
    <a href="{{ path('enseignant_index') }}" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  {% endif %}
  <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
