{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="enseignant_nom" class="required">Nom</label></th>
      <td class="champ">{{ form_errors(form.nom) }}{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_prenom" class="required">Prénom</label></th>
      <td class="champ">{{ form_errors(form.prenom) }}{{ form_widget(form.prenom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_mail" class="required">Mail</label></th>
      <td class="champ">{{ form_errors(form.email) }}{{ form_widget(form.email) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_estAdmin" class="required">Administrateur</label></th>
      <td class="champ">{{ form_errors(form.estAdmin) }}{{ form_widget(form.estAdmin) }}{% if enseignant == app.user and is_granted('ROLE_ADMIN') %}{{form_help(form.estAdmin)}}{% endif %}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="enseignant_motDePasse" class="required">Mot de passe</label></th>
      <td class="champ">{{ form_errors(form.password) }}{{ form_widget(form.password) }}{% if edit %}{{form_help(form.password)}}{% endif %}</td>
    </tr>
  </tbody>
</table>

<div class='bouton'>
  <a href="{{ path('enseignant_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
</div>

{{ form_end(form) }}
