{% extends 'base.html.twig' %}

{% block titrePage %}Modifier {% if enseignant == app.user %}mon mot de passe{% else %}le mot de passe de {{ enseignant.prenom }} {{ enseignant.nom }}{% endif %}{% endblock %}

{% block enseignants %}active{% endblock %}

{% block contenu %}
{{ form_start(form) }}
<div class="table-responsive">
<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="enseignant_motDePasse" class="required">Mot de passe</label></th>
      <td class="champ">{{ form_errors(form.password) }}{{ form_widget(form.password) }}</td>
    </tr>
  </tbody>
</table>
</div>
<div class='bouton' align=center>
  <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Enregistrer</button>
</div>
{{ form_end(form) }}

{% endblock %}
