{% extends 'base.html.twig' %}

{% block titrePage %}Modifier {% if enseignant == app.user %}mon profil{% else %}{{ enseignant.prenom }} {{ enseignant.nom }}{% endif %}{% endblock %}

{% block enseignants %}active{% endblock %}

{% block contenu %}
    {% if enseignant != app.user %}
        <div class='bouton' align=center>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"
               href="{{ path('enseignant_edit_password', {'id': enseignant.id}) }}">Modifier le mot de passe
                de {{ enseignant.prenom }} {{ enseignant.nom }}</a>
        </div>
    {% endif %}
    {{ include('enseignant/_form.html.twig', {'button_label': 'Enregistrer'}) }}
{% endblock %}
