{% extends 'base.html.twig' %}

{% block titrePage %}Liste des enseignants{% endblock %}

{% block enseignants %}active{% endblock %}

{% block contenu %}
    {% if enseignants is not empty %}
        <div class='bouton' align=center>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('enseignant_new') }}">Ajouter un
                enseignant</a>
        </div>
        <div class="table-responsive table-hover">
            <table class="table" id="table">
                <thead>
                <tr>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Mail</th>
                    <th>Administrateur</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                {% for enseignant in enseignants %}
                    <tr>
                        <td>{{ enseignant.nom }}</td>
                        <td>{{ enseignant.prenom }}</td>
                        <td>{{ enseignant.email }}</td>
                        <td>
                            {% if enseignant.roles[1] is defined %}
                                Oui
                            {% else %}
                                Non
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('enseignant_show', {'id': enseignant.id}) }}"><i class="icon-eye"
                                                                                              data-toggle='tooltip'
                                                                                              title='Consulter {{ enseignant.prenom }} {{ enseignant.nom }}'></i></a>
                            <a href="{{ path('enseignant_edit', {'id': enseignant.id}) }}"><i class="icon-pencil-1"
                                                                                              data-toggle='tooltip'
                                                                                              title='Modifier {{ enseignant.prenom }} {{ enseignant.nom }}'></i></a>
                            {% if enseignant != app.user %}
                                <a href="#"
                                   onclick="supprimerEnseignant('{{ path('enseignant_delete', {'id': enseignant.id}) }}')"><i
                                            class="icon-trash" data-toggle='tooltip'
                                            title='Supprimer {{ enseignant.prenom }} {{ enseignant.nom }}'></i></a>
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    {% else %}
        <div class="info">
            <h2 class="h4 mb-0 text-gray-800">Vous n'avez aucun enseignant</h2>
        </div>
        <div class='bouton' align=center>
            <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('enseignant_new') }}">Créer un
                enseignant</a>
        </div>
    {% endif %}
    <div class="modal fade" id="delEns" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Avertissement</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">x</span>
                    </button>
                </div>
                <div class="modal-body">
                    Êtes-vous sur de vouloir supprimer l'enseignant ? <br>
                    Cette action supprimera :
                    <ul>
                        <li> Les groupes qu'il a créé</li>
                        <li> Les statuts qu'il a créé</li>
                        <li> Les évaluations qu'il a créé</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <a class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="BoutonSupprimerModale" href="#">Supprimer
                        l'enseignant</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block datatables %}
    <script type="text/javascript">
        $(document).ready(function () {
            $('#table').dataTable({
                language: {
                    search: "_INPUT_",
                    searchPlaceholder: "Rechercher...",
                    "url": "{{ asset('tradfr.json') }}"
                },
                order: [
                    [0, "asc"]
                ],
                columns: [null, null, {"orderable": false}, null, {"orderable": false}],
                lengthMenu: [
                    [15, 30, 45, -1],
                    [15, 30, 45, "Tout"]
                ],
                pageLength: {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
                info: false,
            });
        });
    </script>
{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        function supprimerEnseignant(url) {
            $("#delEns").modal();
            document.getElementById("BoutonSupprimerModale").href = url;
        }
    </script>
{% endblock %}
