{% extends 'base.html.twig' %}

{% block titrePage %}{% if enseignant == app.user %}Mon profil{% else %}{{ enseignant.prenom }} {{ enseignant.nom }}{% endif %}{% endblock %}

{% block enseignants %}active{% endblock %}

{% block contenu %}
<div class='bouton' align=center>
  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('enseignant_edit', {'id': enseignant.id}) }}">Modifier {% if enseignant == app.user %}mon profil{% else %}{{ enseignant.prenom }} {{ enseignant.nom }}{% endif %}</a>
  {% if enseignant != app.user %}
  <a class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm" href="{{ path('enseignant_edit_password', {'id': enseignant.id}) }}">Modifier le mot de passe de {{ enseignant.prenom }} {{ enseignant.nom }}</a>
  {% endif %}
</div>
    <table class="table">
        <tbody>
            <tr>
                <th class="intitule">Nom</th>
                <td >{{ enseignant.nom }}</td>
            </tr>
            <tr>
                <th class="intitule">Prénom</th>
                <td >{{ enseignant.prenom }}</td>
            </tr>
            <tr>
                <th class="intitule">Mail</th>
                <td >{{ enseignant.email }}</td>
            </tr>
            <tr>
                <th class="intitule">Administrateur</th>
                <td >
                {% if enseignant.roles[1] is defined %}
                    Oui
                {% else %}
                    Non
                {% endif %}
                </td>
            </tr>
        </tbody>
    </table>
{% endblock %}
