{{ form_start(form) }}
    {{form_errors(form.evaluations)}}
    {% set route = app.request.attributes.get('_route') %}
<div class="table-responsive table-hover">
    <table class="table" id= "evaluations">
        <thead>
        <th>
        {% if route == "statistiques_statuts_choisir_plusieurs_evaluations" or route == "statistiques_groupes_choisir_plusieurs_evaluations" or route == "statistiques_comparaison_choisir_autres_evals"%}
            <input type="checkbox" onclick= "cocherToutesLesCases('form[evaluations][]', this.checked)" id="checkbox" title="Tout cocher"/>
        {% endif %}
        </th>
        <th>Nom</th>
        <th>Date</th>
        <th>Groupe</th>
        <th>Créateur</th>
        </thead>
        <tbody>
        {% for evaluation in form.evaluations %}
            {#store index of the category in a variable#}
            {% set index = evaluation.vars.value %}
            {#get entity object from its index in the Categories Field#}
            {% set entity = form.evaluations.vars.choices[index].data %}
            <tr>
                <td>{{form_widget(form.evaluations[index])}}</td>
                <td>{{entity.nom}}</td>
                <td>{{ entity.date|date("d/m/Y") }}</td>
                <td>{{entity.groupe.nom}}</td>
                <td>{{entity.enseignant.prenom}} {{entity.enseignant.nom}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class='bouton' align=center>
    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm"> {{ titre |default('Personnaliser les statistiques') }}</button>
</div>
{{ form_end(form) }}
