{{form_start(form)}}
{% set route = app.request.attributes.get('_route') %}
<div class="table-responsive table-hover">
    {% if typeGraph is defined and typeGraph == "evolutionGroupe" or typeGraph == "evolutionStatut"  %}
        <span style="font-size:15px"><i class="icon-attention-circled"></i>La couleur de l'effectif d'un groupe indique la facilité de lecture du graphique qui sera généré pour ce groupe.</span></br></br>
    {% endif %}
    <table class="table" id= "groupes">
        <thead>
        <th>
          {% if route != "stats_choisir_groupe_haut_niveau_evaluable" and route != "stats_choisir_statut" %} {# Dans ces cas le widget est un bouton radio donc pas de case tout cocher #}
            <input type="checkbox" onclick= "cocherToutesLesCases('form[groupes][]', this.checked)" name="checkbox" title="Tout cocher"/>
          {% endif %}
        </th>
        <th>Nom</th>
        <th>Effectif</th>
        {% if (typeGraph == "evolutionStatut" and route == "stats_choisir_groupe_haut_niveau_evaluable") or (route == "statistiques_choisir_sous_groupes" and typeGraph == "evolutionStatut") %}
          <th>Effectif statut</th>
        {% endif %}
        <th>Description</th>
        <th>Créateur</th>
        </thead>
        <tbody>
        {% for groupe in form.groupes %}
            {# store index of the category in a variable #}
            {% set index = groupe.vars.value %}
            {# get entity object from its index in the Categories Field #}
            {% set entity = form.groupes.vars.choices[index].data %}
            <tr>
                <td>
                  {{form_widget(form.groupes[index])}}
                </td>
                <td>
                    {% if not pasDIndentation %}
                        {% if entity.lvl > 0 %}
                            {% for i in 1.. entity.lvl %}
                                &emsp;
                            {% endfor %}
                        {% endif %}
                    {% endif %}
                    {{entity.nom}}
                </td>
                <td>
                <span {% if (route == "stats_choisir_statut" and typeGraph == "evolutionStatut")
                or (route == "stats_choisir_groupe_haut_niveau_evaluable" and typeGraph != "evolutionStatut")
                or (route == "statistiques_choisir_sous_groupes" and typeGraph != "evolutionStatut")
                or (route == "stats_choisir_groupe_haut_niveau_evaluable" and typeGraph == "evolutionGroupe")
                or (route == "statistiques_choisir_sous_groupes" and typeGraph == "evolutionGroupe") %}
                class="
                {% if entity.etudiants.count <= 16 %}
                  green
                {% elseif entity.etudiants.count > 16 and entity.etudiants.count <= 30 %}
                  orange
                {% elseif entity.etudiants.count > 30 %}
                  red
                {% endif %}" {% endif %}
                >{{entity.etudiants.count}}</span></td>
                {% if (effectifsParStatut is defined) and typeGraph == "evolutionStatut" %}
                <td><span class="
                  {% if effectifsParStatut[loop.index -1] <= 16 %}
                    green
                  {% elseif effectifsParStatut[loop.index -1] > 16 and effectifsParStatut[loop.index -1] <= 30 %}
                    orange
                  {% elseif effectifsParStatut[loop.index -1] > 30 %}
                    red
                  {% endif %}"
                >{{effectifsParStatut[loop.index -1]}}</span></td>
                {% endif %}
                <td>{{entity.description}}</td>
                <td>{{ entity.enseignant.prenom }} {{ entity.enseignant.nom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class='bouton' align=center>
        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm" id="valider">Suivant</button>
    </div>
</div>
{{form_end(form)}}
{% block stylesheets %}
    <style>
        span.green {
            color: green;
        }
        span.orange {
            color: orange;
        }
        span.red{
            color: red;
        }
        .fontSized{
          font-size: 1.2em;
        }
    </style>
{% endblock %}
