{{ form_start(form) }}
<div class="table-responsive table-hover">
    <table class="table" id= "evaluations">
        <thead>
        <th></th>
        <th>Nom</th>
        <th>Prenom</th>
        <th>Mail</th>
        </thead>
        <tbody>
        {% for etudiant in form.etudiants %}
            {#store index of the category in a variable#}
            {% set index = etudiant.vars.value %}
            {#get entity object from its index in the Categories Field#}
            {% set entity = form.etudiants.vars.choices[index].data %}
            <tr>
                <td>{{form_widget(form.etudiants[index])}}</td>
                <td>{{entity.nom}}</td>
                <td>{{entity.prenom}}</td>
                <td>{{entity.mail}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</div>
<div class='bouton' align=center>
    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Consulter la fiche de l'étudiant sélectionné</button>
</div>
{{ form_end(form) }}
