{% extends 'base.html.twig' %}

{% block titrePage %}Choisir les statistiques que vous désirez consulter{% endblock %}

{% block statistiques %}active{% endblock %}

{% block stylesheets %}
    <style>
        .card:hover{
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        }

        /* Style the Image Used to Trigger the Modal */
        .imageAAgrandir {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }

        .imageAAgrandir:hover {opacity: 0.7;}

        /* The Modal (background) */
        .modal {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0,0,0); /* Fallback color */
            background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
        }

        /* Modal Content (Image) */
        .modal-content {
            margin: auto;
            display: block;
            width: 100%;
        }

        /* Add Animation - Zoom in the Modal */
        .modal-content, #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }

        @keyframes zoom {
            from {transform:scale(0)}
            to {transform:scale(1)}
        }

        /* The Close Button */
        .close {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }

        .close:hover,
        .close:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }

        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px){
            .modal-content {
                width: 100%;
            }
        }
    </style>
{% endblock %}

{% block contenu %}
    {% if statsClassiquesDispo %}
        <!-- STATS CLASSIQUES -->
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/classiques/histo.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur une évaluation (répartition des notes)</h5>
                    <p class="card-text">Génération de statistiques triviales : Répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Ces statistiques sont générées pour des évaluations avec une seule note par étudiant.</p>
                    <a href="{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique', 'typeGraph' : 'histogramme'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top imageAAgrandir" id="myImg" src="{{ asset('img/statistiques/classiques/bam.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur une évaluation (boîte à moustache)</h5>
                    <p class="card-text">Génération de statistiques triviales : Répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Ces statistiques sont générées pour des évaluations avec une seule note par étudiant.</p>
                    <a href="{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique', 'typeGraph' : 'boite-moustache'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/classiques/moy.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur une évaluation (moyenne et écart-type)</h5>
                    <p class="card-text">Génération de statistiques triviales : Répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Ces statistiques sont générées pour des évaluations avec une seule note par étudiant.</p>
                    <a href="{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique', 'typeGraph' : 'moyenne'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
    {% if statsClassiquesParPartiesDispo %}
        <!-- STATS CLASSIQUES AVEC PARTIES -->
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/classiques-avec-parties/histo.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur une évaluation avec parties (répartition des notes)</h5>
                    <p class="card-text">Génération de statistiques triviales : Répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Ces statistiques sont générées pour des évaluations avec une seule note par étudiant.</p>
                    <a href="{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique-avec-parties', 'typeGraph' : 'histogramme'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top imageAAgrandir" id="myImg" src="{{ asset('img/statistiques/classiques-avec-parties/bam.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur une évaluation avec parties (boîte à moustache)</h5>
                    <p class="card-text">Génération de statistiques triviales : Répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Ces statistiques sont générées pour des évaluations avec une seule note par étudiant.</p>
                    <a href="{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique-avec-parties', 'typeGraph' : 'boite-moustache'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/classiques-avec-parties/moy.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur une évaluation avec parties (moyenne et écart-type)</h5>
                    <p class="card-text">Génération de statistiques triviales : Répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Ces statistiques sont générées pour des évaluations avec une seule note par étudiant.</p>
                    <a href="{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique-avec-parties', 'typeGraph' : 'moyenne'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
    {% if statsPlusieursEvalsGroupeDispo %}
        <!--  STATS PLUSIEURS EVALS, GROUPE  -->
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/plusieurs-evals-groupe/histo.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur plusieurs évaluations par groupe (répartition des notes)</h5>
                    <p class="card-text">Générations de statistiques triviales : répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Le calcul est effectué sur la note finale de chaque évaluation.</p>
                    <a href="{{ path('stats_choisir_groupe_haut_niveau_evaluable', {'typeGraph': 'histogramme'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top imageAAgrandir" id="myImg" src="{{ asset('img/statistiques/plusieurs-evals-groupe/bam.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur plusieurs évaluations par groupe (boîte à moustache)</h5>
                    <p class="card-text">Générations de statistiques triviales : répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Le calcul est effectué sur la note finale de chaque évaluation.</p>
                    <a href="{{ path('stats_choisir_groupe_haut_niveau_evaluable', {'typeGraph': 'boite-moustache'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/plusieurs-evals-groupe/moy.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur plusieurs évaluations par groupe (moyenne et écart-type)</h5>
                    <p class="card-text">Générations de statistiques triviales : répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Le calcul est effectué sur la note finale de chaque évaluation.</p>
                    <a href="{{ path('stats_choisir_groupe_haut_niveau_evaluable', {'typeGraph': 'moyenne'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
    {% if statsPlusieursEvalsStatutDispo %}
        <!-- STATS PLUSIEURS EVALS, STATUT -->
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/plusieurs-evals-statut/histo.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur plusieurs évaluations par statut (répartition des notes)</h5>
                    <p class="card-text">Générations de statistiques triviales : répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Le calcul est effectué sur la note finale de chaque évaluation.</p>
                    <a href="{{ path('stats_choisir_statut', {'typeGraph': 'histogramme'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top imageAAgrandir" id="myImg" src="{{ asset('img/statistiques/plusieurs-evals-statut/bam.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur plusieurs évaluations par statut (boîte à moustache)</h5>
                    <p class="card-text">Générations de statistiques triviales : répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Le calcul est effectué sur la note finale de chaque évaluation.</p>
                    <a href="{{ path('stats_choisir_statut', {'typeGraph': 'boite-moustache'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/plusieurs-evals-statut/moy.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Statistiques classiques sur plusieurs évaluations par statut (moyenne et écart-type)</h5>
                    <p class="card-text">Générations de statistiques triviales : répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                        Le calcul est effectué sur la note finale de chaque évaluation.</p>
                    <a href="{{ path('stats_choisir_statut', {'typeGraph': 'moyenne'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
        </div>
        <br>
    {% endif %}
    {% if statsComparaisonDispo %}
        <!-- STATS COMPARAISON -->
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top imageAAgrandir" src="{{ asset('img/statistiques/comparaison/moy.png') }}" alt="Card image cap">
                <div class="card-body">
                    <hr>
                    <h5 class="card-title">Évolution d'un groupe ou d'un groupe d'étudiants ayant un statut particulier sur plusieurs évaluations</h5>
                    <p class="card-text">Génération de statistiques de comparaison de résultats : Comparaison de la moyenne d'un groupe ou d'un groupe d'étudiants <br>
                        ayant un statut particulier à une évaluation avec la moyenne d'un ensemble d'autres évaluations passées par ces mêmes groupes.</p>
                    <a href="{{ path('statistiques_choix_evaluation', {'typeStat' : 'comparaison', 'typeGraph' : 'moyenne'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
                </div>
            </div>
        </div>
    {% endif %}
    {# Pas très beau et pratique à utiliser, à faire évoluer si possible #}
    {% if not statsClassiquesDispo and not statsClassiquesParPartiesDispo and not statsPlusieursEvalsGroupeDispo and not statsPlusieursEvalsStatutDispo and not statsComparaisonDispo %}
        <div class="info">
            <h1 class="h4 mb-0 text-gray-800">Vous ne pouvez consulter aucun type de statistiques pour le moment.</h1>
            <h1 class="h4 mb-0 text-gray-800">Créez des groupes, des groupes d'étudiants ayant un statut particulier et des évaluations pour consulter les statistiques.</h1>
        </div>
    {% endif %}
    <!-- Modale dans laquelle les photos agrandies sont affichées -->
    <div id="modale-images" class="modal">
        <span class="close">&times;</span>
        <img class="modal-content" id="nouvelleImageAffichee">
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        //Event listener pour agrandir l'image lorsqu'on clique dessus
        //La fonction va afficher dans la fenêtre l'image, non réduite à la taille de la carte
        $(".imageAAgrandir").on('click', function () {
            $("#modale-images").css("display", "block");
            $("#nouvelleImageAffichee").attr("src", this.src);
        })
        //Quand on clique sur la croix on ferme
        $(".close").on('click', function () {
            $("#modale-images").css("display", "none");
        })
    </script>


{% endblock %}
