{% extends 'base.html.twig' %}

{% block titrePage %}Choisir les statistiques que vous désirez consulter{% endblock %}

{% block statistiques %}active{% endblock %}

{% block stylesheets %}
    <style>
        .card:hover {
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
            box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        }
        /* Style the Image Used to Trigger the Modal */
        .imageAAgrandir {
            border-radius: 5px;
            cursor: pointer;
            transition: 0.3s;
        }
        .imageAAgrandir:hover {
            opacity: 0.7;
        }
        /* The Modal (background) */
        .modaleImage {
            display: none; /* Hidden by default */
            position: fixed; /* Stay in place */
            z-index: 1; /* Sit on top */
            padding-top: 100px; /* Location of the box */
            left: 0;
            top: 0;
            width: 100%; /* Full width */
            height: 100%; /* Full height */
            overflow: auto; /* Enable scroll if needed */
            background-color: rgb(0, 0, 0); /* Fallback color */
            background-color: rgba(0, 0, 0, 0.9); /* Black w/ opacity */
        }
        /* Modal Content (Image) */
        .modaleImage-content {
            margin: auto;
            display: block;
            width: 100%;
        }
        /* Add Animation - Zoom in the Modal */
        .modaleImage-content, #caption {
            animation-name: zoom;
            animation-duration: 0.6s;
        }
        @keyframes zoom {
            from {
                transform: scale(0)
            }
            to {
                transform: scale(1)
            }
        }
        /* The Close Button */
        .close-modaleImage {
            position: absolute;
            top: 15px;
            right: 35px;
            color: #f1f1f1;
            font-size: 40px;
            font-weight: bold;
            transition: 0.3s;
        }
        .close-modaleImage:hover,
        .close-modaleImage:focus {
            color: #bbb;
            text-decoration: none;
            cursor: pointer;
        }
        /* 100% Image Width on Smaller Screens */
        @media only screen and (max-width: 700px) {
            .modal-content {
                width: 100%;
            }
        }
    </style>
{% endblock %}

{% block contenu %}
    <!-- STATS CLASSIQUES -->
    <div class="card">
        <li class="list-group-item text-white" style="background-color:#bdc3c7;">
            Analyse d’une évaluation simple
        </li>
        <div class="card-body">
            Obtenez des statistiques sur une évaluation spécifique dans laquelle l’enseignant a saisi une note sur 20
            pour chaque étudiant.
            <hr>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.evalSimple.disponible %}src="{{ asset('img/statistiques/classiques/histo.png') }}"
                         {% else %}src="{{ asset('img/statistiques/classiques/histo_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Répartition des notes (histogramme)</h5>
                        <p class="card-text">
                            Obtenez, pour des groupes donnés (groupes de TD/TP par exemple) et/ou des profils donnés,
                            (étudiants ayant le statut de boursier, redoublant...), la répartition des notes sous forme
                            <b>d'histogramme</b>.
                        </p>
                        {% if not statistiques.evalSimple.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>Statistique indisponible : <a
                                        href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}">Créez des évaluations simples</a></span>
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.evalSimple.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique', 'typeGraph' : 'histogramme'}) }}'"
                                class="btn {% if statistiques.evalSimple.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir" id="myImg"
                         {% if statistiques.evalSimple.disponible %}src="{{ asset('img/statistiques/classiques/bam.png') }}"
                         {% else %}src="{{ asset('img/statistiques/classiques/bam_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Répartition des notes (boîte à moustache)</h5>
                        <p class="card-text">
                            Obtenez, pour des groupes donnés (groupes de TD/TP par exemple) et/ou des profils donnés,
                            (étudiants ayant le statut de boursier, redoublant...), la répartition des notes sous forme
                            de <b>boîte à moustache</b>.
                        </p>
                        {% if not statistiques.evalSimple.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>Statistique indisponible : <a
                                        href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}">Créez des évaluations simples</a></span>
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.evalSimple.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique', 'typeGraph' : 'boite-moustache'}) }}'"
                                class="btn {% if statistiques.evalSimple.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.evalSimple.disponible %}src="{{ asset('img/statistiques/classiques/moy.png') }}"
                         {% else %}src="{{ asset('img/statistiques/classiques/moy_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Moyenne et écart-type (histogramme)</h5>
                        <p class="card-text">
                            Obtenez, pour des groupes donnés (groupes de TD/TP par exemple) et/ou des profils donnés,
                            (étudiants ayant le statut de boursier, redoublant...),la moyenne et l’écart-type sous forme
                            <b>d'histogramme</b>.
                        </p>
                        {% if not statistiques.evalSimple.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>Statistique indisponible : <a
                                        href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}">Créez des évaluations simples</a></span>
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.evalSimple.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique', 'typeGraph' : 'moyenne'}) }}'"
                                class="btn {% if statistiques.evalSimple.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- STATS CLASSIQUES AVEC PARTIES -->
    <div class="card">
        <li class="list-group-item text-white" style="background-color:#bdc3c7;">
            Analyse d’une évaluation par parties
        </li>
        <div class="card-body">
            Obtenez des statistiques sur une évaluation spécifique dans laquelle l’enseignant a saisi pour chaque
            étudiant une note sur les différentes parties composant son évaluation (Question de cours, exercice 1,
            exercice 2 par exemple).
            <hr>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.evalParties.disponible %}src="{{ asset('img/statistiques/classiques-avec-parties/histo.png') }}"
                         {% else %}src="{{ asset('img/statistiques/classiques-avec-parties/histo_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Répartition des notes (histogramme)</h5>
                        <p class="card-text">
                            Obtenez, pour des groupes donnés (groupes de TD/TP par exemple) et/ou des profils donnés,
                            (étudiants ayant le statut de boursier, redoublant...), et pour chaque partie de
                            l’évaluation,
                            la répartition des notes sous forme <b>d'histogramme</b>.
                        </p>
                        {% if not statistiques.evalParties.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>Statistique indisponible : <a
                                        href="{{ path("evaluation_choose_group", {"typeEval" : "avec-parties"}) }}">Créez des évaluations par parties</a></span>
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.evalParties.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique-avec-parties', 'typeGraph' : 'histogramme'}) }}'"
                                class="btn {% if statistiques.evalParties.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir" id="myImg"
                         {% if statistiques.evalParties.disponible %}src="{{ asset('img/statistiques/classiques-avec-parties/bam.png') }}"
                         {% else %}src="{{ asset('img/statistiques/classiques-avec-parties/bam_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Répartition des notes (boîte à moustache)</h5>
                        <p class="card-text">
                            Obtenez, pour des groupes donnés (groupes de TD/TP par exemple) et/ou des profils donnés,
                            (étudiants ayant le statut de boursier, redoublant...), et pour chaque partie de
                            l’évaluation,
                            la répartition des notes sous forme de <b>boîte à moustache</b>.
                        </p>
                        {% if not statistiques.evalParties.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>Statistique indisponible : <a
                                        href="{{ path("evaluation_choose_group", {"typeEval" : "avec-parties"}) }}">Créez des évaluations par parties</a></span>
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.evalParties.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique-avec-parties', 'typeGraph' : 'boite-moustache'}) }}'"
                                class="btn {% if statistiques.evalParties.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.evalParties.disponible %}src="{{ asset('img/statistiques/classiques-avec-parties/moy.png') }}"
                         {% else %}src="{{ asset('img/statistiques/classiques-avec-parties/moy_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Moyenne et écart-type (histogramme)</h5>
                        <p class="card-text">
                            Obtenez, pour des groupes donnés (groupes de TD/TP par exemple) et/ou des profils donnés,
                            (étudiants ayant le statut de boursier, redoublant...), et pour chaque partie de
                            l’évaluation,
                            la moyenne et l’écart-type sous forme <b>d'histogramme</b>.
                        </p>
                        {% if not statistiques.evalParties.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>Statistique indisponible : <a
                                        href="{{ path("evaluation_choose_group", {"typeEval" : "avec-parties"}) }}">Créez des évaluations par parties</a></span>
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.evalParties.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('statistiques_choix_evaluation', {'typeStat' : 'classique-avec-parties', 'typeGraph' : 'moyenne'}) }}'"
                                class="btn {% if statistiques.evalParties.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!--  STATS PLUSIEURS EVALS, GROUPE  -->
    <div class="card">
        <li class="list-group-item text-white" style="background-color:#bdc3c7;">
            Analyse des résultats de groupe(s) d’étudiant(s) sur plusieurs évaluations
        </li>
        <div class="card-body">
            Observez les résultats de un ou plusieurs groupes d’étudiants (groupes de TD/TP) sur plusieurs évaluations.
            <hr>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.plusieursEvalsGroupes.disponible %}src="{{ asset('img/statistiques/plusieurs-evals-groupe/histo.png') }}"
                         {% else %}src="{{ asset('img/statistiques/plusieurs-evals-groupe/histo_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Répartition des notes (histogramme)</h5>
                        <p class="card-text">
                            Sélectionnez plusieurs évaluations (par exemple toutes les évaluations en anglais) et
                            obtenez, sous
                            forme <b>d'histogramme</b>, la répartition globale des notes pour un ou plusieurs groupes
                            d’étudiants donnés (groupes de TD/TP par exemple).
                        </p>
                        {% if not statistiques.plusieursEvalsGroupes.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.plusieursEvalsGroupes.nombreGroupes < 1 %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path("groupe_etudiant_new") }}">Créez des groupes</a>
                                {% else %}
                                    Demandez à l'administrateur de créer des groupes
                                {% endif %}
                            {% endif %}
                            {% if statistiques.plusieursEvalsGroupes.nombreGroupes < 1 and statistiques.plusieursEvalsGroupes.nombreEvals < 2 %}
                                puis
                            {% endif %}
                            {% if statistiques.plusieursEvalsGroupes.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.plusieursEvalsGroupes.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('stats_choisir_groupe_haut_niveau_evaluable', {'typeGraph': 'histogramme'}) }}'"
                                class="btn {% if statistiques.plusieursEvalsGroupes.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir" id="myImg"
                         {% if statistiques.plusieursEvalsGroupes.disponible %}src="{{ asset('img/statistiques/plusieurs-evals-groupe/bam.png') }}"
                         {% else %}src="{{ asset('img/statistiques/plusieurs-evals-groupe/bam_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Répartition des notes (boîte à moustache)</h5>
                        <p class="card-text">
                            Sélectionnez plusieurs évaluations (par exemple toutes les évaluations en anglais) et
                            obtenez,
                            sous forme de <b>boîte à moustaches</b>, la répartition globale des notes pour un ou
                            plusieurs groupes d’étudiants donnés
                            (groupes de TD/TP par exemple).
                        </p>
                        {% if not statistiques.plusieursEvalsGroupes.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.plusieursEvalsGroupes.nombreGroupes < 1 %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path("groupe_etudiant_new") }}">Créez des groupes</a>
                                {% else %}
                                    Demandez à l'administrateur de créer des groupes
                                {% endif %}
                            {% endif %}
                            {% if statistiques.plusieursEvalsGroupes.nombreGroupes < 1 and statistiques.plusieursEvalsGroupes.nombreEvals < 2 %}
                                puis
                            {% endif %}
                            {% if statistiques.plusieursEvalsGroupes.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.plusieursEvalsGroupes.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('stats_choisir_groupe_haut_niveau_evaluable', {'typeGraph': 'boite-moustache'}) }}'"
                                class="btn {% if statistiques.plusieursEvalsGroupes.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.plusieursEvalsGroupes.disponible %}src="{{ asset('img/statistiques/plusieurs-evals-groupe/moy.png') }}"
                         {% else %}src="{{ asset('img/statistiques/plusieurs-evals-groupe/moy_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Moyenne et écart-type (histogramme)</h5>
                        <p class="card-text">
                            Sélectionnez plusieurs évaluations (par exemple toutes les évaluations en anglais) et
                            obtenez, sous
                            forme <b>d'histogramme</b>, la moyenne globale et l’écart-type pour des groupes donnés
                            (groupes de TD/TP).
                        </p>
                        {% if not statistiques.plusieursEvalsGroupes.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.plusieursEvalsGroupes.nombreGroupes < 1 %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path("groupe_etudiant_new") }}">Créez des groupes</a>
                                {% else %}
                                    Demandez à l'administrateur de créer des groupes
                                {% endif %}
                            {% endif %}
                            {% if statistiques.plusieursEvalsGroupes.nombreGroupes < 1 and statistiques.plusieursEvalsGroupes.nombreEvals < 2 %}
                                puis
                            {% endif %}
                            {% if statistiques.plusieursEvalsGroupes.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.plusieursEvalsGroupes.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('stats_choisir_groupe_haut_niveau_evaluable', {'typeGraph': 'moyenne'}) }}'"
                                class="btn {% if statistiques.plusieursEvalsGroupes.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- STATS PLUSIEURS EVALS, STATUT -->
    <div class="card">
        <li class="list-group-item text-white" style="background-color:#bdc3c7;">
            Analyse des résultats d’un statut d’étudiants sur plusieurs évaluations
        </li>
        <div class="card-body">
            Observez les résultats d'un groupe d’étudiants ayant un statut particulier (boursiers, redoublants...) sur
            plusieurs évaluations.
            <hr>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.plusieursEvalsStatuts.disponible %}src="{{ asset('img/statistiques/plusieurs-evals-statut/histo.png') }}"
                         {% else %}src="{{ asset('img/statistiques/plusieurs-evals-statut/histo_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Répartition des notes (histogramme)</h5>
                        <p class="card-text">
                            Sélectionnez plusieurs évaluations (par exemple toutes les évaluations en mathématiques) et
                            obtenez, sous forme <b>d'histogramme</b>,
                            la répartition globale des notes pour un ou plusieurs statut d’étudiants (boursiers,
                            redoublants...).
                        </p>
                        {% if not statistiques.plusieursEvalsStatuts.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.plusieursEvalsStatuts.nombreStatuts < 1 %}
                                <a href="{{ path("statut_new") }}">Créez un statut</a>
                            {% endif %}
                            {% if statistiques.plusieursEvalsStatuts.nombreStatuts < 1 and statistiques.plusieursEvalsStatuts.nombreEvals < 2 %}
                                et
                            {% endif %}
                            {% if statistiques.plusieursEvalsStatuts.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.plusieursEvalsStatuts.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('stats_choisir_statut', {'typeGraph': 'histogramme'}) }}'"
                                class="btn {% if statistiques.plusieursEvalsStatuts.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir" id="myImg"
                         {% if statistiques.plusieursEvalsStatuts.disponible %}src="{{ asset('img/statistiques/plusieurs-evals-statut/bam.png') }}"
                         {% else %}src="{{ asset('img/statistiques/plusieurs-evals-statut/bam_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Répartition des notes (boîte à moustache)</h5>
                        <p class="card-text">
                            Sélectionnez plusieurs évaluations (par exemple toutes les évaluations en mathématiques) et
                            obtenez,
                            sous forme de <b>boîte à moustaches</b>,la répartition globale des notes pour un ou
                            plusieurs statuts d’étudiants (boursiers, redoublants...).
                        </p>
                        {% if not statistiques.plusieursEvalsStatuts.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.plusieursEvalsStatuts.nombreStatuts < 1 %}
                                <a href="{{ path("statut_new") }}">Créez un statut</a>
                            {% endif %}
                            {% if statistiques.plusieursEvalsStatuts.nombreStatuts < 1 and statistiques.plusieursEvalsStatuts.nombreEvals < 2 %}
                                et
                            {% endif %}
                            {% if statistiques.plusieursEvalsStatuts.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.plusieursEvalsStatuts.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('stats_choisir_statut', {'typeGraph': 'boite-moustache'}) }}'"
                                class="btn {% if statistiques.plusieursEvalsStatuts.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.plusieursEvalsStatuts.disponible %}src="{{ asset('img/statistiques/plusieurs-evals-statut/moy.png') }}"
                         {% else %}src="{{ asset('img/statistiques/plusieurs-evals-statut/moy_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Moyenne et écart-type (histogramme)</h5>
                        <p class="card-text">
                            Sélectionnez plusieurs évaluations (par exemple toutes les évaluations en mathématiques) et
                            obtenez,
                            sous forme <b>d'histogramme</b>,la moyenne et l’écart-type pour un ou plusieurs profils
                            d’étudiants (boursiers, redoublants...).
                        </p>
                        {% if not statistiques.plusieursEvalsStatuts.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.plusieursEvalsStatuts.nombreStatuts < 1 %}
                                <a href="{{ path("statut_new") }}">Créez un statut</a>
                            {% endif %}
                            {% if statistiques.plusieursEvalsStatuts.nombreStatuts < 1 and statistiques.plusieursEvalsStatuts.nombreEvals < 2 %}
                                et
                            {% endif %}
                            {% if statistiques.plusieursEvalsStatuts.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.plusieursEvalsStatuts.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('stats_choisir_statut', {'typeGraph': 'moyenne'}) }}'"
                                class="btn {% if statistiques.plusieursEvalsStatuts.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- EVOLUTION ETUDIANTS -->
    <div class="card">
        <li class="list-group-item text-white" style="background-color:#bdc3c7;">
            Évolution chronologique des résultats d’un étudiant ou d’un ensemble d’étudiants
        </li>
        <div class="card-body">
            Observez, à partir de plusieurs évaluations, l’évolution chronologique des notes:
            <ul>
                <li>d’un étudiant</li>
                <li>des étudiants appartenant à un ou plusieurs groupes (groupes de TD/TP)</li>
                <li>des étudiants ayant un profil donné (boursiers, redoublants...)</li>
            </ul>
            <hr>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.ficheEtudiant.disponible %}src="{{ asset('img/statistiques/fiche-etudiant/courbe.png') }}"
                         {% else %}src="{{ asset('img/statistiques/fiche-etudiant/courbe_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Fiche étudiant</h5>
                        <p class="card-text">
                            Sélectionnez un étudiant et obtenez une page récapitulative de ses résultats sur toutes les
                            évaluations auxquelles il a participé sous
                            forme de <b>courbes d'évolution</b> chronologiques, <b>d'histogrammes</b>, et de <b>classements</b>
                            parmis les groupes ou statuts d'étudiants
                            auxquels il appartient.
                        </p>
                        {% if not statistiques.ficheEtudiant.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.ficheEtudiant.nombreEtudiants < 1 %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path("groupe_etudiant_new") }}">Créez des étudiants</a>
                                {% else %}
                                    Demandez à l'administrateur de créer des étudiants
                                {% endif %}
                            {% endif %}
                            {% if statistiques.ficheEtudiant.nombreEtudiants < 1 and statistiques.ficheEtudiant.nombreEvals < 2 %}
                                puis
                            {% endif %}
                            {% if statistiques.ficheEtudiant.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.ficheEtudiant.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('statistiques_fiche_etudiant_choisir_etudiant') }}'"
                                class="btn {% if statistiques.ficheEtudiant.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.plusieursEvalsGroupes.disponible %}src="{{ asset('img/statistiques/evolution-groupe/courbes.png') }}"
                         {% else %}src="{{ asset('img/statistiques/evolution-groupe/courbes_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Évolution des résultats des étudiants d'un groupe sur plusieurs
                            évaluations</h5>
                        <p class="card-text">Sélectionnez un groupe d'étudiants, une suite d'évaluations et obtenez,
                            pour chaque étudiant, une courbe détaillant l'évolution des résultats
                            des l'étudiant aux évaluations choisies, de manière chronologique.</p>
                        {% if not statistiques.plusieursEvalsGroupes.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.plusieursEvalsGroupes.nombreGroupes < 1 %}
                                {% if is_granted('ROLE_ADMIN') %}
                                    <a href="{{ path("groupe_etudiant_new") }}">Créez des groupes</a>
                                {% else %}
                                    Demandez à l'administrateur de créer des groupes
                                {% endif %}
                            {% endif %}
                            {% if statistiques.plusieursEvalsGroupes.nombreGroupes < 1 and statistiques.plusieursEvalsGroupes.nombreEvals < 2 %}
                                puis
                            {% endif %}
<<<<<<< HEAD
                            <button {% if not statsPlusieursEvalsGroupeDispo %}disabled{% endif %}
                                    onclick="location.href='{{ path('stats_choisir_groupe_haut_niveau_evaluable', {'typeGraph': 'evolutionGroupe'}) }}'"
                                    class="btn {% if statsPlusieursEvalsGroupeDispo %}btn-primary{% else %}btn-secondary{% endif %}">
                                Consulter ce type de statistiques
                            </button>
                        </div>
=======
                            {% if statistiques.plusieursEvalsGroupes.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.plusieursEvalsGroupes.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('stats_choisir_groupe_haut_niveau_evaluable', {'typeGraph': 'courbes'}) }}'"
                                class="btn {% if statistiques.plusieursEvalsGroupes.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
>>>>>>> 247c43a30304548783535aeb220015caf27d6c9a
                    </div>
                </div>
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.plusieursEvalsStatuts.disponible %}src="{{ asset('img/statistiques/evolution-groupe/courbes.png') }}"
                         {% else %}src="{{ asset('img/statistiques/evolution-groupe/courbes_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        <h5 class="card-title">Évolution des résultats des étudiants d'un statut sur plusieurs
                            évaluations</h5>
                        <p class="card-text">Sélectionnez un groupe d'étudiants ayant un statut particulier, une suite
                            d'évaluations et obtenez, pour chaque étudiant, une courbe détaillant l'évolution des
                            résultats
                            des l'étudiant aux évaluations choisies, de manière chronologique.</p>
                        {% if not statistiques.plusieursEvalsStatuts.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>
                            Statistique indisponible :
                            {% if statistiques.plusieursEvalsStatuts.nombreStatuts < 1 %}
                                <a href="{{ path("statut_new") }}">Créez un statut</a>
                            {% endif %}
                            {% if statistiques.plusieursEvalsStatuts.nombreStatuts < 1 and statistiques.plusieursEvalsStatuts.nombreEvals < 2 %}
                                et
                            {% endif %}
<<<<<<< HEAD
                            <button {% if not statsPlusieursEvalsStatutDispo %}disabled{% endif %}
                                    onclick="location.href='{{ path('stats_choisir_statut', {'typeGraph': 'evolutionStatut'}) }}'"
                                    class="btn {% if statsPlusieursEvalsStatutDispo %}btn-primary{% else %}btn-secondary{% endif %}">
                                Consulter ce type de statistiques
                            </button>
                        </div>
=======
                            {% if statistiques.plusieursEvalsStatuts.nombreEvals < 2 %}
                                <a href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            {% endif %}
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.plusieursEvalsStatuts.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('stats_choisir_statut', {'typeGraph': 'courbes'}) }}'"
                                class="btn {% if statistiques.plusieursEvalsStatuts.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
>>>>>>> 247c43a30304548783535aeb220015caf27d6c9a
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br>
    <!-- STATS COMPARAISON -->
    <div class="card">
        <li class="list-group-item text-white" style="background-color:#bdc3c7;">
            Comparaison des résultats d’une évaluation spécifique à un ensemble d’évaluations
        </li>
        <div class="card-body">
            Comparez les résultats obtenus à une évaluation par rapport à un ensemble d’évaluations (par exemple:
            comparer les résultats obtenus par les étudiants à une évaluation d’algorithmique par rapport à l’ensemble
            des évaluations en informatique).
            La comparaison peut porter sur des groupes spécifiques (groupes de TD/TP par exemple) et/ou des étudiants
            ayant un statut particulier (boursiers, redoublants...).
            <hr>
            <div class="card-deck">
                <div class="card">
                    <img class="card-img-top imageAAgrandir"
                         {% if statistiques.comparaison.disponible %}src="{{ asset('img/statistiques/comparaison/moy.png') }}"
                         {% else %}src="{{ asset('img/statistiques/comparaison/moy_black.png') }}"{% endif %}
                         alt="Card image cap">
                    <div class="card-body">
                        <hr>
                        {% if not statistiques.comparaison.disponible %}
                            <span style="font-size:15px; color: #0275d8"><i class="icon-attention-circled"></i>Statistique indisponible : <a
                                        href="{{ path("evaluation_choose_group", {"typeEval" : "simple"}) }}"> Créez des évaluations</a></span>
                            <br><br>
                        {% endif %}
                        <button {% if not statistiques.comparaison.disponible %}disabled{% endif %}
                                onclick="location.href='{{ path('statistiques_choix_evaluation', {'typeStat' : 'comparaison', 'typeGraph' : 'moyenne'}) }}'"
                                class="btn {% if statistiques.comparaison.disponible %}btn-primary{% else %}btn-secondary{% endif %}">
                            Consulter ce type de statistiques
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modale dans laquelle les photos agrandies sont affichées -->
    <div id="modale-images" class="modaleImage">
        <span class="close-modaleImage">&times;</span>
        <img class="modaleImage-content" id="nouvelleImageAffichee">
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        //Event listener pour agrandir l'image lorsqu'on clique dessus
        //La fonction va afficher dans la fenêtre l'image, non réduite à la taille de la carte
        $(".imageAAgrandir").on('click', function () {
            $("#modale-images").css("display", "block");
            $("#nouvelleImageAffichee").attr("src", this.src);
        })
        //Quand on clique sur la croix on ferme
        $(".close-modaleImage").on('click', function () {
            $("#modale-images").css("display", "none");
        })
    </script>
{% endblock %}
