{% extends 'base.html.twig' %}

{% set route = app.request.attributes.get('_route') %}

{% block titrePage %}
  {% if typeGraph is defined and  typeGraph == 'evolutionGroupe' %}
      Évolution chronologique des résultats d’un ensemble d’étudiants
  {% elseif typeGraph is defined and typeGraph == 'evolutionStatut' %}
      Évolution chronologique des résultats d’un ensemble d’étudiants appartenant à un statut
  {% else %}
      Analyse des résultats de groupe(s) d’étudiant(s) sur plusieurs évaluations
  {% endif %}
{% endblock %}

{% block statistiques %} active {% endblock %}

{% block contenu %}
    {% if typeGraph is defined and typeGraph == 'evolutionStatut' %}
    <h1 class="h4 mb-0 text-gray-800">
    Sélectionner les sous-groupes de {{ groupe.nom }} comportant des étudiants du statut '{{statut.nom}}' et pour lesquels vous souhaitez
    voir des statistiques
    </h1>
    {% else %}
      <h1 class="h4 mb-0 text-gray-800">
          Sélectionner les sous-groupes de {{ groupe.nom }} pour lesquels vous souhaitez
          voir des statistiques
      </h1>
    {% endif %}
     <br>
    {{ include('statistiques/_choix_groupes_form.html.twig') }}
{% endblock %}

{% block datatables %}
    {% if (typeGraph == "evolutionStatut" and route == "stats_choisir_groupe_haut_niveau_evaluable") or (route == "statistiques_choisir_sous_groupes" and typeGraph == "evolutionStatut") %}
        {% set tableauColonnes = [{"orderable": false}, null, null, null, {"orderable": false}, {"orderable": false}] %}
    {% else %}
        {% set tableauColonnes = [{"orderable": false}, null, null, {"orderable": false}, {"orderable": false}] %}
    {% endif %}
    <script type="text/javascript">
        var tableGroupes = $('#groupes').DataTable({
            language: {
                // Suppression du label Rechercher et ajout du placeholder
                search: "_INPUT_",
                searchPlaceholder: "Rechercher...",
                "url": "{{ asset('tradfr.json') }}"
            },
            aaSorting: [],
            columns: {{ tableauColonnes|json_encode()|raw }},
            lengthMenu: [
                [15, 30, 45, -1],
                [15, 30, 45, "Tout"]
            ],
            pageLength: {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
            info: false,
        });
        $("[name='form']").on('submit', function () {
            tableGroupes.search("").draw(); //Pour annuler la recherche effectuée dans le champ en haut à droite du tableau
            tableGroupes.rows().nodes().page.len(-1).draw(); // Cette fonction permet, avant la soumission du formulaire, d'afficher dans le DOM toutes les lignes du tableau pour qu'aucune ne soit ignorée
        });
    </script>
{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function() {
            $("#valider").attr('disabled', true)
            checkCasesCocheesPage()
        }
        $("[name='checkbox']").on('click', function () {
            checkCasesCocheesPage()
        })
        //Event listerner pour déclencher le check à chaque case cochée
        $("[name='form[groupes][]']").on('click', function () {
            checkCasesCocheesPage()
        })
        function checkCasesCocheesPage() {
            groupesCheck = false; //Au moins une évaluation coché
            $("#valider").attr('disabled', true)
            $("[name='form[groupes][]']").each( function () {
                if (this.checked) {
                    groupesCheck = true;
                    return false; //Equivalent d'un break, car un seul coché suffit
                }
            })
            if(groupesCheck) { //Si une une évaluation cochée
                $("#valider").attr('disabled', false)
            }
        }
    </script>
{% endblock %}
