{% extends 'base.html.twig' %}

{% block titrePage %}{{ titrePage }}{% endblock %}

{% block statistiques %}active{% endblock %}

{% block contenu %}
    <h1 class="h4 mb-0 text-gray-800">{{ sousTitrePage |default("Choisir l'évaluation pour laquelle vous désirez consulter les statistiques") }}</h1> <br>
    {{ include('statistiques/_choix_evals_form.html.twig') }}
{% endblock %}

{% block datatables %}

    <script type="text/javascript">

        var table = $('#evaluations').DataTable({
            language: {
                // Suppression du label Rechercher et ajout du placeholder
                search: "_INPUT_",
                searchPlaceholder: "Rechercher...",
                "url": "{{asset('tradfr.json')}}"
            },
            order: [2, 'asc'],
            columns: [{"orderable": false}, null, null, {"orderable": false}, null],
            lengthMenu: [
                [15, 30, 45, -1],
                [15, 30, 45, "Tout"]
            ],
            pageLength : {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
            info: false,
        });

        $("[name='form']").on('submit', function () {
            table.rows().nodes().page.len(-1).draw(); // Cette fonction permet, avant la soumission du formulaire, d'afficher dans le DOM toutes les lignes du tableau pour qu'aucune ne soit ignorée
        });
    </script>

{% endblock %}

{% block javascripts %}
    <script>
        window.onload = function() {
            $("[name='form[evaluations]']").first().attr('checked', true)
        }
    </script>
{% endblock %}