{% extends 'base.html.twig' %}

{% block titrePage %}Statistiques classiques{% endblock %}

{% block statistiques %}active{% endblock %}

{% block contenu %}
  {{ form_start(form)}}
  {% if evaluation.parties | length > 1 and not pasDeChoixParties %}
    <h1 class="h4 mb-0 text-gray-800">Sélectionner au moins une partie de l'évaluation pour laquelle vous souhaitez voir les statistiques</h1> <br>
    <div class="row">
      <div class="col-lg-4">
      </div>
      <div class="col-lg-4">
        <div class="table-responsive table-hover">
          <table class="table" id="parties">
            <thead>
            <th><input type="checkbox" onclick= "cocherToutesLesCases('form[parties][]', this.checked )" name="checkbox" title="Tout cocher"/></th>
            <th>Intitulé</th>
            <th>Barème</th>
            </thead>
            <tbody>
            {% for partie in form.parties %}
              {# store index of the category in a variable #}
              {% set index = partie.vars.value %}
              {# get entity object from its index in the Categories Field #}
              {% set entity = form.parties.vars.choices[index].data %}
              <tr>
                <td>{{form_widget(form.parties[index])}}</td>
                <td>
                  {# Indentation du groupe en fonction de son niveau pour avoir une décomposition #}
                  {% if entity.lvl > 0 %}
                    {% for i in 1.. entity.lvl %}
                      &emsp;
                    {% endfor %}
                  {% endif %}
                  {{entity.intitule}}
                </td>
                <td>{{entity.bareme}}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
      <div class="col-lg-4">
      </div>
    </div>
  {% endif %}
  <h1 class="h4 mb-0 text-gray-800">Sélectionner les groupes pour lesquels vous souhaitez voir les statistiques</h1> <br>
  <div class="table-responsive table-hover">
    <table class="table" id= "groupes">
      <thead>
      <th><input type="checkbox" onclick= "cocherToutesLesCases('form[groupes][]', this.checked)" name="checkbox" title="Tout cocher"/></th>
      <th>Nom</th>
      <th>Effectif</th>
      <th>Description</th>
      <th>Créateur</th>
      </thead>
      <tbody>
      {% for groupe in form.groupes %}
        {# store index of the category in a variable #}
        {% set index = groupe.vars.value %}
        {# get entity object from its index in the Categories Field #}
        {% set entity = form.groupes.vars.choices[index].data %}
        <tr>
          <td>{{form_widget(form.groupes[index])}}</td>
          <td>
            {# Indentation du groupe en fonction de son niveau pour avoir une décomposition #}
            {% if entity.lvl > 0 %}
              {% for i in 1.. entity.lvl %}
                &emsp;
              {% endfor %}
            {% endif %}
            {{entity.nom}}
          </td>
          <td>{{ entity.etudiants|length }}</td>
          <td>{{entity.description}}</td>
          <td>{{entity.enseignant.prenom}} {{entity.enseignant.nom}}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  <br><h1 class="h4 mb-0 text-gray-800">Sélectionner les groupes d'étudiants ayant un statut particulier pour lesquels vous souhaitez voir les statistiques</h1> <br>
  {% if form.statuts is not empty %}
    <div class="table-responsive table-hover">
      <table class="table" id= "statuts">
        <thead>
        <th><input type="checkbox" onclick= "cocherToutesLesCases('form[statuts][]', this.checked);" name="checkbox" title="Tout cocher"/></th>
        <th>Nom</th>
        <th>Description</th>
        <th>Créateur</th>
        </thead>
        <tbody>
        {% for statut in form.statuts %}
          {# store index of the category in a variable #}
          {% set index = statut.vars.value %}
          {# get entity object from its index in the Categories Field #}
          {% set entity = form.statuts.vars.choices[index].data %}
          <tr>
            <td>{{form_widget(form.statuts[index])}}</td>
            <td>{{entity.nom}}</td>
            <td>{{entity.description}}</td>
            <td>{{entity.enseignant.prenom}} {{entity.enseignant.nom}}</td>
          </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  {% else %}
    <div class="info">
      <h5 class="h5 mb-0 text-gray-800">Il est possible d'obtenir des statistiques sur des groupes d'étudiants ayant un statut particulier (boursiers, redoublants, ...). Vous pouvez créer de tels groupes <a href="{{ path('statut_new') }}">ici</a>.</h5>
    </div>
  {% endif %}
  <div class='bouton' align=center>
    <button disabled id="valider" class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Consulter les statistiques</button>
  </div>
  {{ form_end(form) }}
{% endblock %}

{% block datatables %}
<script type="text/javascript">

  var tableGroupes = $('#groupes').DataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    aaSorting : [],
    columns: [{"orderable": false}, null, null,null,{"orderable": false}],
    lengthMenu: [
      [15, 30, 45, -1],
      [15, 30, 45, "Tout"]
    ],
    pageLength : {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
    info: false,
  });

  var tableStatuts = $('#statuts').DataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [1, "asc"]
    ],
    columns: [{"orderable": false}, null, null, null],
    lengthMenu: [
      [15, 30, 45, -1],
      [15, 30, 45, "Tout"]
    ],
    pageLength : {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
    info: false,
  });

  $("[name='form']").on('submit', function () {
    tableGroupes.rows().nodes().page.len(-1).draw(); // Cette fonction permet, avant la soumission du formulaire, d'afficher dans le DOM toutes les lignes du tableau pour qu'aucune ne soit ignorée
    tableStatuts.rows().nodes().page.len(-1).draw();
  });
</script>
{% endblock %}

{% block javascripts %}
  <script>
    $("[name='checkbox']").on('click', function () {
      checkCasesCocheesPage()
    })
    //Event listerner pour déclencher le check à chaque case cochée
    $("[name='form[groupes][]']").on('click', function () {
      checkCasesCocheesPage()
    })

    $("[name='form[statuts][]']").on('click', function () {
      checkCasesCocheesPage()
    })

    $("[name='form[parties][]']").on('click', function () {
      checkCasesCocheesPage()
    })

   function checkCasesCocheesPage() {
     groupesCheck = false; //Au moins un groupe coché
     statutsCheck = false; //Au moins un statut coché
     partiesCheck = false; //Au moins une partie cochée
     $("#valider").attr('disabled', true)
     $("[name='form[groupes][]']").each( function () {
       if (this.checked) {
         groupesCheck = true;
         return false; //Equivalent d'un break, car un seul coché suffit
       }
     })
     $("[name='form[statuts][]']").each( function () {
       if (this.checked) {
         statutsCheck = true;
         return false;
       }
     })
     $("[name='form[parties][]']").each( function () {
       if (this.checked) {
         partiesCheck = true;
         return false;
       }
     })
     {% if evaluation.parties|length == 1 %}
       if(groupesCheck || statutsCheck) { //Si un groupe ou statut coché
         $("#valider").attr('disabled', false)
       }
     {% else %}
       if((groupesCheck || statutsCheck) && partiesCheck) { //Si un groupe ou statut coché ET une partie cochée
         $("#valider").attr('disabled', false)
       }
     {% endif %}
   }
  </script>
{% endblock %}
