{% extends 'base.html.twig' %}

{% block titrePage %}Évolution chronologique des résultats d’un étudiant{% endblock %}

{% block statistiques %} active {% endblock %}

{% block contenu %}
    {{ form_start(form) }}
    <h1 class="h4 mb-0 text-gray-800">Sélectionner l'étudiant pour consulter sa fiche</h1> <br>
    <div class="table-responsive table-hover">
        <table class="table" id="evaluations">
            <thead>
            <th></th>
            <th>Nom</th>
            <th>Prenom</th>
            <th>Mail</th>
            </thead>
            <tbody>
            {% for etudiant in form.etudiants %}
                {#store index of the category in a variable#}
                {% set index = etudiant.vars.value %}
                {#get entity object from its index in the Categories Field#}
                {% set entity = form.etudiants.vars.choices[index].data %}
                <tr>
                    <td>{{ form_widget(form.etudiants[index]) }}</td>
                    <td>{{ entity.nom }}</td>
                    <td>{{ entity.prenom }}</td>
                    <td>{{ entity.mail }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    <div class='bouton' align=center>
        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">Suivant</button>
    </div>
    {{ form_end(form) }}
{% endblock %}

{% block datatables %}
    <script type="text/javascript">
        var table = $('#evaluations').DataTable({
            language: {
                // Suppression du label Rechercher et ajout du placeholder
                search: "_INPUT_",
                searchPlaceholder: "Rechercher...",
                "url": "{{ asset('tradfr.json') }}"
            },
            order: [1, 'asc'],
            columns: [{"orderable": false}, null, null, {"orderable": false}],
            lengthMenu: [
                [15, 30, 45, -1],
                [15, 30, 45, "Tout"]
            ],
            pageLength: {{ app.user.preferenceNbElementsTableaux }}, <!-- Pour que le nombre d'éléments affichés par défaut soit celui de la préference de l'utilisateur -->
            info: false,
            "fnInitComplete": function (oSettings, json) {
                $("[name='form[etudiants]']").first().attr('checked', true)  //Pour cocher le premier choix par défaut
            }
        });

        $("[name='form']").on('submit', function () {
            table.search("").draw(); //Pour annuler la recherche effectuée dans le champ en haut à droite du tableau
            table.rows().nodes().page.len(-1).draw(); // Cette fonction permet, avant la soumission du formulaire, d'afficher dans le DOM toutes les lignes du tableau pour qu'aucune ne soit ignorée
        });
    </script>

{% endblock %}