{% extends 'base.html.twig' %}

{% block titrePage %}Choisir les statistiques que vous désirez consulter{% endblock %}

{% block statistiques %}active{% endblock %}

{% block stylesheets %}
    <style>
        .card:hover{
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        }
    </style>
{% endblock %}

{% block contenu %}
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-white" style="background-color:#bdc3c7;">
                Statistiques classiques sur une évaluation
            </li>
            <div class="card-body">
                <h1 class="h4 mb-0 text-gray-800">Exemple de graphique obtenu</h1> <br>
                <canvas id="graph_stats_classiques"></canvas>
                <hr>
                <p class="card-text">
                    Génération de statistiques triviales : Répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                    Ces statistiques sont générées pour des évaluations avec une seule note par étudiant.
                </p>
                <a href="{{ path('statistiques_choix_evaluation', {'typeStat':'classique'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
            </div>
        </ul>
    </div>
    <br>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-white" style="background-color:#bdc3c7;">
                Statistiques classiques sur une évaluation avec des parties
            </li>
            <div class="card-body">
                <h1 class="h4 mb-0 text-gray-800">Exemple de graphique obtenu pour une partie donnée</h1> <br>
                <canvas id="graph_stats_parties"></canvas>
                <hr>
                <p class="card-text">
                    Génération de statistiques triviales : Répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                    Ces statistiques sont générées pour des évaluations découpées en plusieurs parties, avec plusieurs notes par étudiant.
                </p>
                <a href="{{ path('statistiques_choix_evaluation', {'typeStat':'classique-avec-parties'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
            </div>
        </ul>
    </div>
    <br>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-white" style="background-color:#bdc3c7;">
                Statistiques classiques sur plusieurs évaluations
            </li>
            <div class="card-body">
                <h1 class="h4 mb-0 text-gray-800">Exemple de graphique obtenu sur deux évaluations</h1> <br>
                <canvas id="graph_stats_plusieurs_evals_groupe_statut"></canvas>
                <hr>
                <p class="card-text">
                    Générations de statistiques triviales : répartition des notes, moyenne, médiane, écart-type, note minimale et maximale. <br>
                    Ces statistiques sont générées sur les résultats d'un groupe et de ses sous-groupes ou d'un groupe d'étudiants ayant un statut particulier sur plusieurs évaluations. <br>
                    Le calcul est effectué sur la note finale de chaque évaluation.
                </p>
                <a href="{{ path('stats_choisir_groupe_haut_niveau_evaluable') }}" class="btn btn-primary">Consulter ce type de statistiques par groupes</a>
                <a href="{{ path('stats_choisir_statut') }}" class="btn btn-primary">Consulter ce type de statistiques par statuts</a>
            </div>
        </ul>
    </div>
    <br>
    <div class="card">
        <ul class="list-group list-group-flush">
            <li class="list-group-item text-white" style="background-color:#bdc3c7;">
                Évolution d'un groupe ou d'un groupe d'étudiants ayant un statut particulier sur plusieurs évaluations
            </li>
            <div class="card-body">
                <h1 class="h4 mb-0 text-gray-800">Exemple de graphique obtenu sur trois évaluations</h1> <br>
                <canvas id="graph_stats_plusieurs_evals"></canvas>
                <hr>
                <p class="card-text">
                    Génération de statistiques de comparaison de résultats : Comparaison de la moyenne d'un groupe ou d'un groupe d'étudiants <br>
                    ayant un statut particulier à une évaluation avec la moyenne d'un ensemble d'autres évaluations passées par ces mêmes groupes.
                </p>
                <a href="{{ path('statistiques_choix_evaluation', {'typeStat':'evolution'}) }}" class="btn btn-primary">Consulter ce type de statistiques</a>
            </div>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}

    <script>
        // Objet options des graphiques
        var options = {
            scales: {
                xAxes: [{
                    gridLines: {
                        display: false
                    },
                    ticks: {
                        fontSize: 16,
                    },
                    maxBarThickness: 100,
                    stacked: false,
                }],
                yAxes: [{
                    labelString: 'Intervalle de note',
                    ticks: {
                        beginAtZero: true,
                        max: undefined,
                        min: 0,
                        fontSize: 16,
                    },
                    stacked: false,
                }],
            },
            legend: {
                position: 'top',
                labels: {
                    fontSize: 16,
                },
            },
            aspectRatio: 3,
            maintainAspectRatio: true,
            responsive: true,
            tooltips: {
                intersect: false,
                titleMarginBottom: 10,
                titleFontColor: '#6e707e',
                titleFontSize: 16,
                backgroundColor: "#FFFFFF",
                bodyFontColor: "#858796",
                borderColor: '#dddfeb',
                borderWidth: 1,
                xPadding: 15,
                yPadding: 15,
                displayColors: true,
                caretPadding: 10
            },
            plugins : {
                labels: {
                    render: 'value'
                }
            }
        }

        //Données des graphiques
        var dataClassique = {
            labels: ['[0;4[', '[4;8[', '[8;12[', '[12;16[', '[16;20]'],
            datasets: [
                {
                    label: 'Groupe 1',
                    data: [4,2,7,6,5],
                    borderColor: "#808080",
                    labelColor: [
                        'rgba(155, 89, 182)',
                    ],
                    backgroundColor: [
                        'rgba(155, 89, 182)',
                        'rgba(155, 89, 182)',
                        'rgba(155, 89, 182)',
                        'rgba(155, 89, 182)',
                        'rgba(155, 89, 182)'
                    ],
                    hoverBackgroundColor : [
                        'rgba(155, 89, 182)',
                        'rgba(155, 89, 182)',
                        'rgba(155, 89, 182)',
                        'rgba(155, 89, 182)',
                        'rgba(155, 89, 182)'
                    ]
                },
                {
                    label: 'Groupe 2',
                    data: [8,1,5,3,4],
                    borderColor: "#808080",
                    labelColor: [
                        'rgba(192, 57, 43)',
                    ],
                    backgroundColor: [
                        'rgba(192, 57, 43)',
                        'rgba(192, 57, 43)',
                        'rgba(192, 57, 43)',
                        'rgba(192, 57, 43)',
                        'rgba(192, 57, 43)'
                    ],
                    hoverBackgroundColor : [
                        'rgba(192, 57, 43)',
                        'rgba(192, 57, 43)',
                        'rgba(192, 57, 43)',
                        'rgba(192, 57, 43)',
                        'rgba(192, 57, 43)'
                    ]
                }
            ],
        };
        var dataPlusieursParties = {
            labels: ['[0;4[', '[4;8[', '[8;12[', '[12;16[', '[16;20]'],
            datasets: [
                {
                    label: 'Groupe 1',
                    data: [7,1,0,5,10],
                    borderColor: "#808080",
                    labelColor: [
                        'rgba(41, 128, 185)',
                    ],
                    backgroundColor: [
                        'rgba(41, 128, 185)',
                        'rgba(41, 128, 185)',
                        'rgba(41, 128, 185)',
                        'rgba(41, 128, 185)',
                        'rgba(41, 128, 185)'
                    ],
                    hoverBackgroundColor : [
                        'rgba(41, 128, 185)',
                        'rgba(41, 128, 185)',
                        'rgba(41, 128, 185)',
                        'rgba(41, 128, 185)',
                        'rgba(41, 128, 185)'
                    ]
                },
                {
                    label: 'Groupe 2',
                    data: [6,3,1,3,4],
                    borderColor: "#808080",
                    labelColor: [
                        'rgba(22, 160, 133)',
                    ],
                    backgroundColor: [
                        'rgba(22, 160, 133)',
                        'rgba(22, 160, 133)',
                        'rgba(22, 160, 133)',
                        'rgba(22, 160, 133)',
                        'rgba(22, 160, 133)'
                    ],
                    hoverBackgroundColor : [
                        'rgba(22, 160, 133)',
                        'rgba(22, 160, 133)',
                        'rgba(22, 160, 133)',
                        'rgba(22, 160, 133)',
                        'rgba(22, 160, 133)'
                    ]
                }
            ],
        };
        var dataPlusieursEvals = {
            labels: ['Groupe 1', 'Groupe 2'],
            datasets: [
                {
                    label: 'Moyenne',
                    data: [15.5,10.3],
                    borderColor: "#808080",
                    labelColor: [
                        'rgba(243, 156, 18)',
                    ],
                    backgroundColor: [
                        'rgba(243, 156, 18)',
                        'rgba(243, 156, 18)',
                    ],
                    hoverBackgroundColor : [
                        'rgba(243, 156, 18)',
                        'rgba(243, 156, 18)',
                    ]
                },
                {
                    label: 'Écart-type',
                    data: [5.47,6.04],
                    borderColor: "#808080",
                    labelColor: [
                        'rgba(211, 84, 0)',
                    ],
                    backgroundColor: [
                        'rgba(211, 84, 0)',
                        'rgba(211, 84, 0)',
                    ],
                    hoverBackgroundColor : [
                        'rgba(211, 84, 0)',
                        'rgba(211, 84, 0)',
                    ]
                }
            ],
        };
        var dataEvolutionGroupeStatut = {
            labels: ['Groupe 1', 'Groupe 2'],
            datasets: [
                {
                    label: 'Moyenne à Évaluation mathématiques',
                    data: [12.5,9.7],
                    borderColor: "#808080",
                    labelColor: [
                        'rgba(44, 62, 80)',
                    ],
                    backgroundColor: [
                        'rgba(44, 62, 80)',
                        'rgba(44, 62, 80)',
                    ],
                    hoverBackgroundColor : [
                        'rgba(44, 62, 80)',
                        'rgba(44, 62, 80)',
                    ]
                },
                {
                    label: 'Moyenne aux autres évaluations choisies',
                    data: [10.3,16],
                    borderColor: "#808080",
                    labelColor: [
                        'rgba(149, 165, 166)',
                    ],
                    backgroundColor: [
                        'rgba(149, 165, 166)',
                        'rgba(149, 165, 166)',
                    ],
                    hoverBackgroundColor : [
                        'rgba(149, 165, 166)',
                        'rgba(149, 165, 166)',
                    ]
                }
            ],
        };


        //Affichage des graphiques
        var chartClassique = new Chart(document.getElementById("graph_stats_classiques").getContext('2d'), {
            type: 'bar',
            data: dataClassique,
            options: options,
        });
        var chartParties = new Chart(document.getElementById("graph_stats_parties").getContext('2d'), {
            type: 'bar',
            data: dataPlusieursParties,
            options: options,
        });
        var chartEvolution = new Chart(document.getElementById("graph_stats_plusieurs_evals_groupe_statut").getContext('2d'), {
            type: 'bar',
            data: dataPlusieursEvals,
            options: options,
        });
        var chartPlusieursEvals = new Chart(document.getElementById("graph_stats_plusieurs_evals").getContext('2d'), {
            type: 'bar',
            data: dataEvolutionGroupeStatut,
            options: options,
        });

    </script>


{% endblock %}
