{% extends 'base.html.twig' %}

{% block titrePage %}{{ titre }}{% endblock %}

{% block statistiques %}active{% endblock %}

{% block stylesheets %}
  <style>
    .card:hover{
      -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
      -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
      box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
    }
  </style>
{% endblock %}

{% block contenu %}
<div class="table-responsive">
<table align="center" class="table">
  <tbody>
    <tr>
        <th>Nom</th>
        <td>{{ etudiant.nom }}</td>
    </tr>
    <tr>
        <th>Prenom</th>
        <td>{{ etudiant.prenom }}</td>
    </tr>
    <tr>
        <th>Mail</th>
        <td>{{ etudiant.mail }}</td>
    </tr>
    {% if etudiant.groupes is not empty %}
    <tr>
        <th>Groupes</th>
        <td>
          <ul>
            {% for groupe in etudiant.groupes if groupe.estEvaluable %}
              <li>{{ groupe.nom }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    {% endif %}
    {% if etudiant.statuts is not empty %}
    <tr>
        <th>Statuts</th>
        <td>
          <ul>
            {% for statut in etudiant.statuts %}
              <li>{{ statut.nom }}</li>
            {% endfor %}
          </ul>
        </td>
    </tr>
    {% endif %}
  </tbody>
</table>
</div>
{% for message in app.flashes('info') %}
<div class="alert alert-success" role="alert">
  {{ message }}
</div>
{% endfor %}
{% for evaluation in evaluations %}
    <div class="card">
      <ul class="list-group list-group-flush">
        <li class="list-group-item text-white" style="background-color:#bdc3c7;">
          {{ evaluation.nom }}
        </li>
        <li class="card-deck">
        {% set nbCard = 0 %}
        {% for groupe in groupesEtStatuts %}
            {% if nbCard > 0 and nbCard is divisible by(3) %}
            </li>
            <li class="card-deck">
            {% endif %}
            {% if groupe.estEvaluable is defined %}
            {% if groupe.estEvaluable != false %}
            
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ groupe.nom }}</h5>
                    <p class="card-text">
                    <ul>
                        <li>Classement : {{ stats[nbCard + 1]['position'] }}</li>
                        <li>Moyenne du groupe : {{ stats[nbCard + 1]['moyenneGroupe'] }}</li>
                        <li>Note de l'étudiant : {{ stats[nbCard + 1]['noteEtudiant'] }}</li>
                    </ul>
                    </p>
                </div>
            </div>
            {% set nbCard = nbCard + 1 %}
            {% endif %}
            {% else %}
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">{{ groupe.nom }}</h5>
                    <p class="card-text">
                    <ul>
                        <li>Classement : {{ stats[nbCard + 1]['position'] }}</li>
                        <li>Moyenne du groupe : {{ stats[nbCard + 1]['moyenneGroupe'] }}</li>
                        <li>Note de l'étudiant : {{ stats[nbCard + 1]['noteEtudiant'] }}</li>
                    </ul>
                    </p>
                </div>
            </div>
            {% set nbCard = nbCard + 1 %}
            {% endif %}
        {% endfor %}
        </li>
      </ul>
    </div>
{% endfor %}
    <br>
{% endblock %}


