{% extends 'base.html.twig' %}

{% block titrePage %}{{ titre }}{% endblock %}

{% block statistiques %}active{% endblock %}

{% block stylesheets %}
    <style>
        .card:hover{
            -webkit-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            -moz-box-shadow: -1px 9px 40px -12px rgba(0,0,0,0.75);
            box-shadow: -1px 9px 40px -12px rgba(0, 0, 0, 0.75);
        }
    </style>
{% endblock %}

{% block contenu %}

{% for i in 0..stats|length - 3 %}
{% for graphCourant in  1..stats[i].nbGraph %}

{% set idGraph = "diagrammeEvolutionResultat" ~ stats[i].nom ~ "_" ~graphCourant %}


<div class="card">
    <ul class="list-group list-group-flush">
        <li class="list-group-item text-white" style="background-color:#bdc3c7;">
          {{stats[i].nom}}
          {% for groupe in groupes %}
            {% if stats[i].nom == groupe.nom %}
            du {{groupe.parent.nom}} ({{groupe.parent.parent.nom}})
            {% endif %}
          {% endfor %}
          - Partie {{graphCourant}}
        </li>
        <li class="list-group-item">
            <div >
                <div class="container-fluid">
                    <div class="card-md-auto">
                        <div class="card-header" style="background-color: transparent">
                            Groupes
                        </div>
                        <div class="card-body">
                        </div>
                    </div>
                </div>
                <br>
                <div class="container-fluid">
                    <span style="font-size:15px"><i class="icon-attention-circled"></i>Survolez le graphique pour plus d'informations</span>
                    <canvas id="{{idGraph}}"></canvas>
                </div>
            </div>
        </li>
    </ul>
</div>
<br>

{% endfor %}
{% endfor %}

{#
{{stats.type}} <br>
{{stats.evaluations[1].nom}}
{% for i in 0..stats|length - 3 %}<br>
  {{ stats[i].nbGraph }}
  {{ stats[i].nom }}
  {{stats[i]["etudiants"]|length}}
  {% for etudiant in stats[i]["etudiants"] %}
    {{etudiant.nomPrenom}} <br>
    {% for note in etudiant.notes %}
      {{note}} <br>
    {% endfor %}
  {% endfor %}
  <br><br><br><br>
{% endfor %} #}


{% endblock %}

{% block javascripts %}

<script type="text/javascript">

{% for i in 0..stats|length - 3 %}
{% for graphCourant in  1..stats[i].nbGraph %}

{% set idGraph = "diagrammeEvolutionResultat" ~ stats[i].nom ~ "_" ~graphCourant %}

var diagrammeEvolutionResultat = document.getElementById( "{{ idGraph }}" ).getContext('2d');

var myLineChart = new Chart(diagrammeEvolutionResultat, {
          type: 'line',
          data: {
              labels: [{% for evaluation in evaluations %} '{{evaluation.nom}}', {% endfor %}],
              datasets: [
        {% for etudiant in stats[i]["etudiants"] %}
        {% set randomRed = random(0, 255) %}
        {% set randomGreen = random(0, 255) %}
        {% set randomBlue = random(0, 255) %}
          {
  					label: '{{etudiant.nomPrenom}}',
  					data: [{% for note in etudiant.notes %} {{note}},{% endfor %}],
  					borderColor: 'rgba({{randomRed}},{{randomGreen}},{{randomBlue}},1)',
  					backgroundColor:'rgba({{randomRed}},{{randomGreen}},{{randomBlue}},1)',
  					fill: false,
  					lineTension: 0
  				},
        {% endfor %}

        ]
    				},
          options: {
            scales: {
              xAxes: [{
                display: true,
                scaleLabel: {
                  display: true
                }
              }],
              yAxes: [{
                display: true,
                scaleLabel: {
                  display: true,
                  labelString: 'Value'
                }
              }]
            }
          },
      });

      function random_rgba() {
        var min = 0;
        var max = 255;
        var red = Math.random() * (max - min) + min;
        var green = Math.random() * (max - min) + min;
        var blue = Math.random() * (max - min) + min;
        return 'rgba(' + red + ',' + green + ',' + blue + ',' + 1 + ')';
  }

{% endfor %}
{% endfor %}

</script>

{% endblock %}
