{{ form_start(form) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <td><strong>{{ form_label(form.nom, 'Nom') }}</strong></td>
      <td>{{ form_widget(form.nom, {'attr' : {'placeholder':'DUT Info'}}) }}</td>
    </tr>
    <tr>
      <td><strong>{{ form_label(form.description, 'Description') }}</strong> </td>
      <td>{{ form_widget(form.description,{ 'attr': {'rows' : 5, 'placeholder' : 'Une belle description'}}) }}</td>
    </tr>
    <tr>
      <td><strong>{{ form_label(form.fichier, 'Fichier CSV') }} (<a href="{{asset('template.csv')}}">Télécharger un modèle</a>)</strong> </td>
      <td>
        {{form_widget(form.fichier, {'attr' : {'placeholder':'Importer un fichier', 'accept' : '.csv'}})}}
      </td>
    </tr>
    <tr>
      <td><strong>{{ form_label(form.enseignant, 'Enseignant (temporaire)') }}</strong> </td>
      <td>{{ form_widget(form.enseignant) }}</td>
    </tr>
  </tbody>
</table>


<center><button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Créer le groupe') }}</button>


{{ form_end(form) }}
