{{ form_start(form,{'attr': {'novalidate': 'novalidate'}}) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule">Nom du groupe parent</th>
      <td >{{ nomParent }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="groupe_etudiant_nom" class="required">Nom du sous groupe</label></th>
      <td >{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="groupe_etudiant_description" class="required">Description</label></th>
      <td >{{ form_widget(form.description) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="groupe_etudiant_estEvaluable" class="required">Évaluable</label> <a href="#HelpEvaluable" data-toggle='modal' data-target='#HelpEvaluable'><i class="icon-help-circled"></i></a></th>
      <td >{{form_widget(form.estEvaluable, {'data' : true})}}</td>
    </tr>
  </tbody>
</table>

<h1 class="h4 mb-0 text-gray-800">Définir les étudiants appartenant au sous groupe</h1> <br>

<table class="table" id="tableAjouter">
  <thead>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Mail</th>
    <th></th>
  </thead>

  <tbody>
  {% for etudiant in form.etudiants %}

    {# store index of the category in a variable #}
    {% set index = etudiant.vars.value %}

    {# get entity object from its index in the Categories Field #}
    {% set entity = form.etudiants.vars.choices[index].data %}
      <tr>
          <td>{{entity.nom}}</td>
          <td>{{entity.prenom}}</td>
          <td>{{entity.mail}}</td>
          <td>{{form_widget(form.etudiants[index])}}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>

<div class='bouton'>
  <a href="{{ path('groupe_etudiant_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Créer le sous groupe') }}</button>
</div>

{{ form_end(form) }}
