{{ form_start(form) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <th class="intitule"><label for="groupe_etudiant_nom" class="required">Nom</label></th>
      <td >{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="groupe_etudiant_description" class="required">Description</label></th>
      <td >{{ form_widget(form.description) }}</td>
    </tr>
    <tr>
      <th class="intitule"><label for="groupe_etudiant_estEvaluable" class="required">Évaluable</label> <a href="#HelpEvaluable" data-toggle='modal' data-target='#HelpEvaluable'><i class="icon-help-circled"></i></a></th>
      <td >{{form_widget(form.estEvaluable)}}</td>
    </tr>
  </tbody>
</table>

<h1 class="h4 mb-0 text-gray-800">Ajouter des étudiants au sous groupe</h1> <br>

<table class="table" id="tableAjouter">
  <thead>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Mail</th>
    <th></th>
  </thead>

  <tbody>
  {% for etudiant in form.etudiantsAAjouter %}

    {# store index of the category in a variable #}
    {% set index = etudiant.vars.value %}

    {# get entity object from its index in the Categories Field #}
    {% set entity = form.etudiantsAAjouter.vars.choices[index].data %}
      <tr>
          <td>{{entity.nom}}</td>
          <td>{{entity.prenom}}</td>
          <td>{{entity.mail}}</td>
          <td>{{form_widget(form.etudiantsAAjouter[index])}}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>


<br> <h1 class="h4 mb-0 text-gray-800">Supprimer des étudiants du sous groupe</h1> <br>

<table class="table" id="tableSupprimer">
  <thead>
    <th>Nom</th>
    <th>Prénom</th>
    <th>Mail</th>
    <th></th>
  </thead>

  <tbody>
  {% for etudiant in form.etudiantsASupprimer %}

    {# store index of the category in a variable #}
    {% set index = etudiant.vars.value %}

    {# get entity object from its index in the Categories Field #}
    {% set entity = form.etudiantsASupprimer.vars.choices[index].data %}
      <tr>
          <td>{{entity.nom}}</td>
          <td>{{entity.prenom}}</td>
          <td>{{entity.mail}}</td>
          <td>{{form_widget(form.etudiantsASupprimer[index])}}</td>
      </tr>
  {% endfor %}
  </tbody>
</table>



<div class='bouton'>
  <a href="{{ path('groupe_etudiant_index') }}" class="d-none d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
