{{ form_start(form) }}

<table align="center" class="table">
  <tbody>
    <tr>
      <td class="intitule"><label for="groupe_etudiant_nom" class="required">Nom</label></td>
      <td>{{ form_widget(form.nom) }}</td>
    </tr>
    <tr>
      <td class="intitule"><label for="groupe_etudiant_description" class="required">Description</label></td>
      <td>{{ form_widget(form.description) }}</td>
    </tr>
    <tr>
      <td class="intitule"><label for="groupe_etudiant_estEvaluable" class="required">Évaluable</label> <a href="#"><i class="icon-help-circled"></i></a></td>
      <td>{{form_widget(form.estEvaluable, {'data' : true})}}</td>
    </tr>
    <tr>
      <td class="intitule"><label class="required" for="groupe_etudiant_enseignant">Enseignant (temporaire)</label></td>
      <td>{{form_widget(form.enseignant)}}</td>
    </tr>
  </tbody>
</table>

<h1 class="h4 mb-0 text-gray-800">Liste des étudiants du groupe</h1> <br>

<table class="table">
  <thead>
    <tr>Nom</tr>
    <tr>Prenom</tr>
    <tr>Mail</tr>
  </thead>
  
  <tbody>
      <tr>    
          <td>{{form_row(form.etudiants)}}</td>
      </tr>
  </tbody>
</table>

    

<div class='bouton'>
  <button class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Créer le groupe') }}</button>
</div>
{{ form_end(form) }}
