{% extends 'admin_base.html.twig' %}

{% block tirePage %}Liste des groupes{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}

    <table class="table" id="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Effectif</th>
                <th>Description</th>
                <th>Createur</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for semestre in arbre[0].__children %}
        <tr>
            <td>{{ semestre.nom }}</td>
            <td>{{ infos[semestre.id].Effectif}}</td>
            <td>{{ semestre.description }}</td>
            <td>{{ infos[semestre.id].Nom }} {{ infos[semestre.id].Prenom }}</td>
            <td>
                <a href="{{ path('groupe_etudiant_show', {'id': semestre.id}) }}"><i class="icon-eye"></i></a>
                <a href="{{ path('groupe_etudiant_edit', {'id': semestre.id}) }}"><i class="icon-pencil-1"></i></a>
            </td>
        </tr>
            {% for td in semestre.__children %}
            <tr>
                <td> &emsp; {{ td.nom }}</td> <!--&emsp; permet d'ajouter 4 espaces pour faire une sorte d'indentation-->
                <td>{{ infos[td.id].Effectif}}</td>
                <td>{{ td.description }}</td>
                <td>{{ infos[td.id].Nom }} {{ infos[td.id].Prenom }}</td>
                <td>
                    <a href="{{ path('groupe_etudiant_show', {'id': td.id}) }}"><i class="icon-eye"></i></a>
                    <a href="{{ path('groupe_etudiant_edit', {'id': td.id}) }}"><i class="icon-pencil-1"></i></a>
                </td>
            </tr>
                {% for tp in td.__children %}
                <tr>
                    <td> &emsp;  &emsp; {{ tp.nom }}</td>
                    <td>{{ infos[tp.id].Effectif}}</td>
                    <td>{{ tp.description }}</td>
                    <td>{{ infos[tp.id].Nom }} {{ infos[tp.id].Prenom }}</td>
                    <td>
                        <a href="{{ path('groupe_etudiant_show', {'id': tp.id}) }}"><i class="icon-eye"></i></a>
                        <a href="{{ path('groupe_etudiant_edit', {'id': tp.id}) }}"><i class="icon-pencil-1"></i></a>
                    </td>
                </tr>
                {% endfor %}

            {% endfor %}

        {% endfor %}

        </tbody>
    </table>

    <a href="{{ path('groupe_etudiant_new') }}">Create new</a>

{% endblock %}

{% block datatables %}

<script type="text/javascript">
$(document).ready(function() {
  $('#table').dataTable({
    aaSorting: [], // Pour désactiver le tri automatique
    language: {
      "url": "{{asset('tradfr.json')}}"
    },
    columns: [null, null, {"orderable": false}, null, {"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
