{% extends 'admin_base.html.twig' %}

{% block tirePage %}Liste des groupes{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}

    <table class="table" id="table">
        <thead>
            <tr>

                <th>Nom</th>
                <th>Effectif</th>
                <th>Description</th>
                <th>Createur</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for groupe_etudiant in groupe_etudiants %}
            <tr>
                <td>{{ groupe_etudiant.nom }}</td>
                <td> </td>
                <td>{{ groupe_etudiant.description }}</td>
                <td>{{ groupe_etudiant.enseignant.nom}} {{ groupe_etudiant.enseignant.prenom}}</td>
                <td>
                    <a href="{{ path('groupe_etudiant_show', {'id': groupe_etudiant.id}) }}">show</a>
                    <a href="{{ path('groupe_etudiant_edit', {'id': groupe_etudiant.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="8">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('groupe_etudiant_new') }}">Create new</a>
{% endblock %}

{% block datatables %}

<script type="text/javascript">
$(document).ready(function() {
  $('#table').dataTable({
    language: {
      "url": "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/French.json"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null, {"orderable": false}, null, {"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
