{% extends 'base.html.twig' %}

{% block titrePage %}{{ groupe_etudiant.nom }}{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}

    <table class="table">
        <tbody>
            <tr>
                <th ondblclick="InvasionCommuniste()">Description</th>
                <td>{{ groupe_etudiant.description }}</td>
            </tr>
            <tr>
              <th>Évaluable</th>
              <td>{{ groupe_etudiant.estEvaluable ? 'Oui' : 'Non'}}</td>
            </tr>
        </tbody>
    </table>

    <h1 class="h4 mb-0 text-gray-800">Liste des étudiants du groupe</h1> <br>

    <table class="table" id="etud">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Mail</th>
        </tr>
      </thead>
      <tbody>
        {% if etudiants is not empty %}
        {% for etudiant in etudiants %}
        <tr>
          <td>{{etudiant.nom}}</td>
          <td>{{etudiant.prenom}}</td>
          <td>{{etudiant.mail}}</td>
        </tr>
        {% endfor %}
        {% endif %}
      </tbody>
    </table>
{% endblock %}

{% block datatables %}

<script type="text/javascript">

$(document).ready(function() {
  $('#etud').dataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null, {"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}

{% block javascripts %}

<script type="text/javascript">
  function InvasionCommuniste() {
    var audio = new Audio('{{asset("easter-eggs/hymne.mp3")}}');
    audio.play();

    //Attend 4 secondes pour exécuter le code pour que les changements s'effectue en synchronisation avec la musique
    setTimeout(function(){
      document.getElementById("accordionSidebar").className = "navbar-nav bg-gradient-danger sidebar sidebar-dark accordion";
      document.getElementById("logoSite").className = "icon-communism";
      document.getElementById("nomAppli").innerHTML = "Gouleo";
    }, 4000);




  }


</script>

{% endblock %}
