{% extends 'base.html.twig' %}

{% block tirePage %}Consulter un groupe{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}

    <table class="table">
        <tbody>
            <tr>
                <th>Nom du groupe</th>
                <td>{{ groupe_etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ groupe_etudiant.description }}</td>
            </tr>
        </tbody>
    </table>

    <h1 class="h4 mb-0 text-gray-800">Liste des étudiants du groupe</h1> <br>

    {% if etudiants is not empty %}

    <table class="table" id="etud">
      <thead>
        <tr>
          <th>Nom</th>
          <th>Prénom</th>
          <th>Mail</th>
        </tr>
      </thead>
      <tbody>
        {% for etudiant in etudiants %}
        <tr>
          <td>{{etudiant.nom}}</td>
          <td>{{etudiant.prenom}}</td>
          <td>{{etudiant.mail}}</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>



    {% else %}
    <center> <h1><small class="text-muted">Pas d'étudiants trouvés pour ce groupe</small></h3> </h1></center>
    {% endif %}


    <a href="{{ path('groupe_etudiant_index') }}">back to list</a>

    <a href="{{ path('groupe_etudiant_edit', {'id': groupe_etudiant.id}) }}">edit</a>

    {{ include('groupe_etudiant/_delete_form.html.twig') }}

{% endblock %}

{% block datatables %}

<script type="text/javascript">

$(document).ready(function() {
  $('#etud').dataTable({
    language: {
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null, {"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
