{% extends 'admin_base.html.twig' %}

{% block tirePage %}Consulter un groupe{% endblock %}

{% block groupes %}active{% endblock %}

{% block contenu %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ groupe_etudiant.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ groupe_etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ groupe_etudiant.description }}</td>
            </tr>
            <tr>
                <th>EstEvaluable</th>
                <td>{{ groupe_etudiant.estEvaluable ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('groupe_etudiant_index') }}">back to list</a>

    <a href="{{ path('groupe_etudiant_edit', {'id': groupe_etudiant.id}) }}">edit</a>

    {{ include('groupe_etudiant/_delete_form.html.twig') }}
{% endblock %}
