{{ form_start(form) }}
    {{ form(form) }}

<div class='bouton' align=center>
    <a href="{{ path('evaluation_enseignant') }}" class="d-sm-inline-block btn btn-sm btn-secondary shadow-sm">Annuler</a>
    <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
</div>
{{ form_end(form) }}
