{{ form_start(form) }}
    <table align="center" class="table">
        <tbody>
        <tr>
            <th class="intitule"><label for="statut_nom" class="required">Intitulé de la partie</label></th>
            <td >{{ form_help(form.intitule) }}{{ form_errors(form.intitule) }}{{ form_widget(form.intitule) }}</td>
        </tr>
        <tr>
            <th class="intitule"><label for="statut_description" class="required">Barème de la partie</label></th>
            <td >{{ form_errors(form.bareme) }}{{ form_widget(form.bareme) }}</td>
        </tr>
        </tbody>
    </table>

    <div class='bouton' align=center>
        <button class="d-sm-inline-block btn btn-sm btn-primary shadow-sm">{{ button_label|default('Enregistrer') }}</button>
    </div>
{{ form_end(form) }}





