{% extends 'admin_base.html.twig' %}

{% block tirePage %}Liste des parties{% endblock %}

{% block evaluations %}active{% endblock %}

{% block contenu %}

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Intitule</th>
                <th>Bareme</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for partie in parties %}
            <tr>
                <td>{{ partie.id }}</td>
                <td>{{ partie.intitule }}</td>
                <td>{{ partie.bareme }}</td>
                <td>
                    <a href="{{ path('partie_show', {'id': partie.id}) }}">show</a>
                    <a href="{{ path('partie_edit', {'id': partie.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('partie_new') }}">Create new</a>
{% endblock %}
