{% extends 'base.html.twig' %}

{% block titrePage %}Consulter une partie{% endblock %}

{% block evaluations %}active{% endblock %}

{% block contenu %}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ partie.id }}</td>
            </tr>
            <tr>
                <th>Intitule</th>
                <td>{{ partie.intitule }}</td>
            </tr>
            <tr>
                <th>Bareme</th>
                <td>{{ partie.bareme }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('partie_index') }}">back to list</a>

    <a href="{{ path('partie_edit', {'id': partie.id}) }}">edit</a>

    {{ include('partie/_delete_form.html.twig') }}
{% endblock %}
