{% extends 'base.html.twig' %}

{% block tirePage %}Liste des étudiants{% endblock %}

{% block etudiants %}active{% endblock %}

{% block contenu %}
    <table class="table" id ="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Prénom</th>
                <th>Mail</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% if etudiants is not empty %}
        {% for etudiant in etudiants %}
            <tr>
                <td>{{ etudiant.nom }}</td>
                <td>{{ etudiant.prenom }}</td>
                <td>{{ etudiant.mail }}</td>
                <td>
                    <a href="{{ path('etudiant_show', {'id': etudiant.id}) }}"><i class="icon-eye"></i></a>
                    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}"><i class="icon-pencil-1"></i></a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        {% endif %}
        </tbody>
    </table>

    <a href="{{ path('etudiant_new') }}">Create new</a>
{% endblock %}

{% block datatables %}

<script type="text/javascript">
$(document).ready(function() {
  $('#table').dataTable({
    language: {
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null,{"orderable": false},{"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
