{% extends 'base.html.twig' %}

{% block titrePage %}Consulter un étudiant{% endblock %}

{% block etudiants %}active{% endblock %}

{% block contenu %}
    <table class="table">
        <tbody>
            <tr>
                <th class="intitule">Nom</th>
                <td >{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th class="intitule">Prenom</th>
                <td >{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th class="intitule">Mail</th>
                <td >{{ etudiant.mail }}</td>
            </tr>
            <tr>
                <th class="intitule">Démissionaire</th>
                <td >{{ etudiant.estDemissionaire ? 'Oui' : 'Non' }}</td>
            </tr>
            <tr>
              <th class="intitule">Statut(s)</th>
              <td >
                {% for statut in etudiant.statuts %}
                  <font size=4><span class="badge badge-primary">{{statut.nom}}</span></font>
                {% endfor %}
              </td>
            </tr>
        </tbody>
    </table>

    <h1 class="h4 mb-0 text-gray-800">Groupes auxquels appartient l'étudiant</h1> <br>

    <table class="table" id="groupes">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Créateur</th>
            </tr>
        </thead>

        <tbody>
        {% for groupe in etudiant.groupes%}
            <tr>
                <td>{{ groupe.nom }}</td>
                <td>{{ groupe.description }}</td>
                <td>{{ groupe.enseignant.nom }} {{groupe.enseignant.prenom}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}

{% block datatables %}

<script type="text/javascript">

$(document).ready(function() {
  $('#groupes').dataTable({
    language: {
      // Suppression du label Rechercher et ajout du placeholder
      search: "_INPUT_",
      searchPlaceholder: "Rechercher...",
      "url": "{{asset('tradfr.json')}}"
    },
    order: [
      [0, "asc"]
    ],
    columns: [null, null, {"orderable": false}],
    lengthMenu: [
      [10, 25, 50, -1],
      [10, 25, 50, "Tout"]
    ],
    info: false,
  });
});
</script>

{% endblock %}
