{% extends 'base.html.twig' %}

{% block tirePage %}Consulter un étudiant{% endblock %}

{% block etudiants %}active{% endblock %}

{% block contenu %}
    <table class="table">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ etudiant.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ etudiant.prenom }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ etudiant.mail }}</td>
            </tr>
            <tr>
                <th>EstDemissionaire</th>
                <td>{{ etudiant.estDemissionaire ? 'Oui' : 'Non' }}</td>
            </tr>
        </tbody>
    </table>

    <h4 align='center'> Groupes auxquelles appartient l'étudiant</h4>

    

    <table class="table">
        <thead>
            <tr>
                <th>Nom</th>
                <th>Description</th>
                <th>Créateur</th>
            </tr>
        </thead>
        
        <tbody>
        {% for groupe in etudiant.groupes%}
            <tr>
                <td>{{ groupe.nom }}</td>
                <td>{{ groupe.description }}</td>
                <td>{{ groupe.enseignant.nom }} {{groupe.enseignant.prenom}}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    


    <div align='center'>
    <a href="{{ path('etudiant_index') }}">Retour</a>
    &nbsp &nbsp &nbsp
    <a href="{{ path('etudiant_edit', {'id': etudiant.id}) }}">Modifier l'étudiant</a>
    </div>
   
    {{ include('etudiant/_delete_form.html.twig') }}
{% endblock %}
